.selfCheckSetPIN {
  clear: left;
  float: right;
}
.countdown {
  .details {
    width: 300px;
    float: left;
  }
  .time {
    float: left;
    border-radius: 100%;
    background-color: red;
    padding: 13px;
    color: white;
    font-size: 24pt;
    width: 78px;
    text-align: center;
  }
}
.verifyPINBase {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 200;
  text-align: center;
  top: 138px;
  left: -40px;
}
.verifyPIN {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 200;
  text-align: center;
}
.fullScreenMode {
  overflow: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: white;
  .checkinBackground {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: unset;
  }
}
.startSelfCheckin {
  clear: left;
  float: right;
  margin-top: -38px;
}
.selfCheckinMode {
  .invalidClass {
    color: red;
  }
  #exitSelfCheckinBtn {
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 0;
  }
  .checkinAttendance {
    position: relative;
    left: 50%;
    margin-left: -350px;
    width: 700px;
    top: 40px;
    .memberSelection {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      .readyToScan {
        margin: 0px;
      }
    }
  }
  .classBookingSection {
    width: 100%;
    clear: left;
    clear: left;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    .classBookings {
      .memberCell {
        .checkinBooking {
          line-height: 3em;
          .icon-svg {
            height: 3em;
            width: 3em;
          }
        }
      }
    }
  }
  .dayClass {
    input[type='radio'] {
      display: none;
      &:not(:disabled) ~ label {
        cursor: pointer;
      }
      &:disabled ~ label {
        color: hsla(150, 5%, 75%, 1);
        border-color: hsla(150, 5%, 75%, 1);
        box-shadow: none;
        cursor: not-allowed;
      }
    }
    label {
      height: 100%;
      display: block;
      background: white;
      border-radius: 20px;
      padding: 1rem;
      margin-bottom: 1rem;
      //margin: 1rem;
      text-align: center;
      box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
      position: relative;
    }
    input[type='radio']:checked + label {
      background: #e1251b;
      color: white;
      box-shadow: 0px 0px 0px 5px #e1251b;
      &::after {
        color: hsla(215, 5%, 25%, 1);
        font-family: FontAwesome;
        border: 2px solid #e1251b;
        content: '\f00c';
        font-size: 24px;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background: white;
        box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
      }
    }
    input[type='radio']#control_05:checked + label {
      background: red;
      border-color: red;
    }
    p {
      font-weight: 900;
    }
  }
}

.fullscreen {
  display: none;
}
.fullscreen.fullscreen-enabled {
  display: block;
}
.fullscreen-enabled .selfCheckinMode {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: URL('');
}
.checkboxFilter > input[type='checkbox'] {
  visibility: hidden;
}
i.fa.fa-usd.overdue {
  font-size: 20pt;
  color: red;
}
.checkboxFilter {
  position: relative;
  clear: left;
  display: block;
  width: 80px;
  height: 26px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #2e2e2e;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.checkboxFilter:after {
  position: absolute;
  display: inline;
  right: 10px;
  content: 'no';
  color: #e53935;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 0;
}

.checkboxFilter:before {
  position: absolute;
  display: inline;
  left: 10px;
  content: 'yes';
  color: #43a047;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  z-index: 0;
}

.checkboxFilter label {
  position: absolute;
  display: block;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 20px;
  background: #2e2e2e;
  cursor: pointer;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  z-index: 1;
}
.checkboxFilter label {
  min-width: unset !important;
}
.checkboxFilter input[type='checkbox']:checked + label {
  left: 43px;
}

.hide {
  display: none;
}
.attendanceTable {
  .memberRow {
    float: left;
    background-color: #f8f8f8;
    width: 100%;
    padding: 10px;
    .memberName {
      float: left;
      margin: 0;
    }
    .lastPromotion {
      float: left;
      margin-left: 111px;
      margin-top: 4px;
    }
    .grading {
      min-width: 250px;
      cursor: pointer;
      margin-right: 10px;
      clear: left;
      float: left;
    }
    .statistics {
      float: left;
    }
    .belt {
      float: left;
      margin-left: 20px;
      svg#Layer_1 {
        height: 2rem;
        width: 6rem;
      }
    }
    .noGI,
    .minimumWeeks,
    .weeksAttended {
      float: left;
      clear: left;
    }
    .noGIHelp,
    .minimumWeeksHelp {
      display: none;
      float: left;
      font-style: italic;
    }
  }
  .header {
  }
  .body {
    clear: left;
    .weekSection {
      .weekInfo {
        .week {
        }
        .weekAttendances {
          margin-left: 20px;
          .attendance {
            display: flex;
            .date {
              color: #4d5059;
              flex: 1;
            }
            .class,
            .status {
              color: #4d5059;
              font-size: 16px;
              padding: 0;
              flex: 1;
            }
          }
        }
      }
    }
  }
}
.memberChartDetails {
  background-color: white;
  height: 370px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  .nameCol {
    background-color: white;
  }
  .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.03);
  }
  .closeMembers {
    position: absolute;
    z-index: 100;
    margin-left: 8px;
    margin-top: 2px;
    cursor: pointer;
  }
  .closeMembers path {
    fill: white !important;
  }
  .ReactTable {
    overflow: auto;
    height: 100%;
    .rt-expander:after {
      border-top: 7px solid white;
    }
  }
  .rt-th.members_col.rt-resizable-header.-cursor-pointer {
    border-radius: 0;
    margin: 0;
  }
}
.attendanceDialog {
  .narcissus_x3xwbs {
    display: none;
  }
  .graphs {
    .page-header {
      height: 120px;
      text-align: center;
      margin-bottom: 3%;
      .average {
        float: left;
        margin: 0;
      }
      .periods {
        float: right;
        width: auto;
        display: flex;
        span {
          margin-right: 8px;
          cursor: pointer;
        }
        .selected {
          background-color: #ece8e8;
        }
      }
      .dateRange {
        float: left;
        width: 100%;
        margin-top: 10px;
        height: 100%;
        label {
          float: left;
          margin-top: 4px;
          margin-right: 4px;
        }
        #dateRange {
          float: left;
          width: 70%;
        }
        .selection {
          float: left;
          width: 100%;
        }
        .customDates {
          margin: 0;
          width: 100%;
          float: left;
          margin-top: 4px;
          margin-left: 100px;
          .form-group {
            width: auto;
            float: left;
            margin-bottom: 0px;
            margin-right: 10px;
            #fromDate {
              width: 170px;
            }
            #toDate {
              width: 170px;
              float: left;
            }
          }
          .customButton {
            margin-top: 4px;
            float: left;
          }
        }
      }
    }
  }
  .attendanceTable {
    .header {
      table {
        width: calc(100%);
        thead {
          background-color: #eae6e6;
          td {
            border-right-style: solid;
            border-right-color: #ffffff;
            padding: 4px;
          }
          td {
            width: 20%;
          }
        }
      }
      tr {
        height: 30px;
      }
    }
    .body {
      max-height: 300px;
      overflow: auto;
      table {
        width: calc(100%);
        tbody {
          .classDate {
            width: 180px;
          }
          td {
            width: 20%;
            padding-left: 6px;
          }
          .status {
            color: unset;
            text-align: left;
          }
        }
      }
    }
  }
}
.membersGradingSection {
  margin: 20px;
  .memberGrading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f8f8f8;
    .programName {
      height: 33px;
      font-size: 15px;
      background-color: $darkgray;
      padding: 5px;
      margin-top: 20px;
      color: white;
      border-radius: 10px;
      padding-left: 20px;
      text-transform: uppercase;
    }
    .memberRow {
      margin: 10px;
      float: left;
      .memberName {
        width: 300px;
        float: left;
        margin-top: 4px;
      }
      .lastPromotion {
        float: left;
        margin-top: 7px;
        margin-right: 4px;
      }
      .grading {
        float: left;
        margin-top: 7px;
        width: 250px;
        @media (min-width: 321px) {
          width: 300px;
        }
        @media (min-width: 415px) {
          width: 350px;
        }
      }
      .statistics {
        float: left;
        margin-top: 7px;
        width: 220px;
        @media (min-width: 321px) {
          width: 280px;
        }
      }
      .belt {
        float: left;
        margin-top: 7px;
        margin-left: 20px;
        .icon-svg {
          height: 2rem;
          width: 6rem;
        }
      }
      .attendanceIcon {
        padding-top: 10px;
        padding-left: 20px;
        float: left;
        .statsbar {
          cursor: pointer;
          .icon-svg {
            height: 1.5rem;
            width: 1.5rem;
            path {
              fill: #991b1e;
            }
          }
        }
      }
      .promotionReviewIcon {
        padding-top: 10px;
        padding-left: 20px;
        float: left;
        .review {
          cursor: pointer;
          .icon-svg {
            height: 1.5rem;
            width: 1.5rem;
            path {
              fill: #991b1e;
            }
          }
        }
      }
    }
  }
}
.promotionDialog {
  width: 900px !important;
  .promotionHistory {
    float: left;
    width: 100%;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    .promotionRow.even {
      background-color: #f4efef;
    }
    .info {
      margin-left: 4px;
      margin-right: 4px;
      .rank_name {
        float: left;
      }
      .date {
        float: right;
      }
      .submitter {
        float: left;
        clear: left;
        font-style: italic;
        font-weight: bold;
      }
    }
    .note {
      clear: left;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .promoteNow {
    width: 100%;
    height: 100%;
    float: left;
    border-bottom: solid;
    border-color: #ece6e6;
    .dateDiv {
      float: left;
      margin: 10px;
      width: 122px;
      margin-right: 40px;
      input {
        width: 160px;
      }
    }
    .classesDiv {
      float: left;
      margin: 10px;
      width: 106px;
      #classCarry {
        width: 100px;
      }
    }
    .programDiv {
      float: left;
      margin: 10px;
    }
    .beltDiv {
      float: left;
      margin: 10px;
    }
    .notesDiv {
      float: left;
      margin: 10px;
      textarea {
        width: 800px;
      }
    }
    .apply {
      background-color: #991b1e;
      clear: left;
      float: right;
      margin-right: 40px;
      margin-bottom: 10px;
    }
    label {
      float: left;
      min-width: 180px;
    }
    input,
    select,
    textarea {
      float: left;
      clear: left;
    }
  }
  .action {
    .promote {
      float: right;
      margin-right: 8px;
      cursor: pointer;
    }
  }
  .rankbar {
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  .infoAction {
    background-color: #ece6e6;
    height: 90px;
    clear: left;
    .name {
      height: 32px;
      font-size: 20px;
    }
    .status {
      color: black;
      font-size: 20px;
    }
  }
  .narcissus_x3xwbs {
    display: none;
  }
  img {
    width: 90px;
    height: 90px;
    float: left;
    border-style: solid;
    border-color: #d5d5d5;
    margin-right: 10px;
  }
  .noPhoto {
    width: 90px;
    height: 90px;
    float: left;
    border-style: solid;
    border-color: #d5d5d5;
    text-align: center;
    margin: 0 auto;
    background-color: #f8f8f8;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    line-height: 85px;
    font-size: 40px;
    margin-right: 10px;
  }
}

.beltProgress p {
  margin-bottom: 2px;
}

.grading {
  min-width: 250px;
  cursor: pointer;
  margin-right: 10px;
  .bar {
    height: 22px;
    width: 200px;
    background-color: #434343;
    float: left;
    position: relative;
    margin-right: 4px;
  }
  .notready {
    .percent {
      height: 22px;
      position: absolute;
      background-color: #fa1919;
    }
  }
  .almost {
    .percent {
      height: 22px;
      position: absolute;
      background-color: #ffb500;
    }
  }
  .ready {
    .percent {
      height: 22px;
      position: absolute;
      background-color: #5ea85e;
    }
  }
  .gradeStatus {
    font-weight: bold;
  }
}

.attendanceSection {
  min-height: 2000px;
  clear: left;
  .readyToScan {
    margin: 40px;
  }
  .classAttendancesLabel {
    margin-left: 40px;
    margin-bottom: 4px;
    .sendButtons {
      float: right;
      .btn {
        margin-right: 10px;
      }
    }
  }
  .checkinFilter {
    float: left;
    flex-flow: row;
    margin-left: 22px;
    label {
      float: left;
      font-weight: bolder;
    }
    .checkboxFilter {
      float: left;
      clear: none;
      margin-left: 10px;
    }
  }
}
.classSection {
  padding-left: 0px;
  @media (min-width: 415px) {
    padding-left: 20px;
  }
  padding-top: 20px;
  width: 100%;
  display: flex;
  .programClass {
    clear: left;
    width: 450px;
  }
  .buttons {
    margin-top: 35px;
  }
  .line {
    div {
      margin-right: 10px;
      float: left;
    }
    .sessionDate,
    .class {
      float: left;
    }
  }
  .sessionDate {
    .rdtPicker .dow {
      padding-right: 15px;
    }
    .rdtCounter .rdtCount {
      min-width: 20px;
    }
    .rdtMonths {
      width: 100%;
    }
  }
  label {
    float: left;
    min-width: 180px;
    font-family: AdiHaus DIN Medium;
    font-size: 20px;
    @media (min-width: 415px) {
      font-size: 26px;
    }
  }
  input {
    float: left;
    clear: left;
    font-size: 20px;
    @media (min-width: 415px) {
      font-size: 20px;
    }
  }
  .rdt {
    float: left;
    clear: left;
  }
  select {
    float: left;
    clear: left;
    display: inline-block;
    padding: 5px 30px 5px 25px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: 0;
    background: $darkgray;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px;
    font-size: 15px;
    text-transform: uppercase;
    @media (min-width: 415px) {
      font-size: 15px;
      text-transform: uppercase;
    }
  }
  .droparrow {
    position: relative;
    top: 12px;
    @media (min-width: 415px) {
      top: 12px;
    }
    right: 26px;
    width: 0 !important;
    height: 0;
    pointer-events: none;
    border-width: 12px 10px 0;
    border-style: solid;
    border-color: white transparent transparent;
    background-color: transparent;
  }
  .program {
    select {
      min-width: 170px;
    }
  }
  .class {
    min-width: 287px;
  }
}
.checkinSection {
  margin: 40px;
  margin-left: 0;
  @media (min-width: 415px) {
    margin: 40px;
  }
  float: left;
  clear: left;
  .hide-columns-container {
    width: auto;
  }
  .manual {
    #changeToScan {
      width: 200px;
      margin-top: 20px;
    }
  }
  .memberInfo {
    padding-left: 6px;
    float: left;
    .waiverIncomplete {
      color: red;
    }
    .grading {
      float: left;
      clear: left;
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
      @media (min-width: 415px) {
        margin-left: 120px;
        width: 500px;
      }
    }
    .info {
      float: left;
      margin-left: 0;
      @media (min-width: 415px) {
        margin-left: 20px;
      }
      .noProgramSetLabel,
      .alreadyCheckedinLabel {
        color: red;
      }
      .frozenMemberLabel {
        color: blue;
      }
      h4 {
        width: 90%;
        @media (min-width: 321px) {
          width: unset;
        }
      }
    }
    .noProgramSetLabel {
    }
    img {
      width: 100px;
      height: 100px;
      float: left;
      border-style: solid;
      border-color: #d5d5d5;
    }
    .noPhoto {
      width: 100px;
      height: 100px;
      float: left;
      border-style: solid;
      border-color: #d5d5d5;
      text-align: center;
      margin: 0 auto;
      background-color: #f8f8f8;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      line-height: 85px;
      font-size: 40px;
    }
    .applyCheckin {
      clear: left;
      float: left;
      padding-top: 36px;
      padding-left: 20px;
      #status {
        margin-bottom: 10px;
      }
      .overdue {
        cursor: pointer;
        margin-left: 4px;
        margin-top: 7px;
        font-size: 24pt;
      }
      span {
        font-size: 20pt;
        color: red;
      }
      span:hover {
        text-decoration: underline;
      }
    }
    #manualNewMember {
      width: 200px;
      margin-left: 0;
      @media (min-width: 415px) {
        margin-left: 120px;
      }
      margin-top: 20px;
      float: left;
      clear: left;
    }
  }
}
.classBookings {
  border-top-color: #929090;
  background-color: #c3bfbf;
  .memberCell {
    .checkinBooking {
      float: left;
      clear: left;
      line-height: 2em;
      margin: 10px;
      cursor: pointer;
      .icon-svg {
        height: 2em;
        width: 2em;
        path {
          fill: green;
        }
      }
    }
    .checkinBooking:hover {
      border-style: inset;
      border-width: 1px;
      border-radius: 5px;
    }
    .noshowBooking {
      float: left;
      line-height: 2em;
      margin: 10px;
      .icon-svg {
        width: 2em;
        height: 2em;
        path {
          fill: red;
        }
      }
    }
    .noshowBooking:hover {
      border-style: inset;
      border-width: 1px;
      border-radius: 5px;
    }
  }
}
.checkinMembers,
.classMembers {
  border-top-color: #d5d5d5;
  background-color: #f2efef;
  .memberCell {
    .ranking {
      float: left;
    }
    .grading {
      float: left;
      clear: left;
      .bar {
        width: 100px;
      }
    }
  }
}

.checkinMembers,
.classMembers,
.classBookings {
  clear: left;
  border-top-style: solid;
  padding-top: 5px;
  display: flex;
  flex-flow: wrap;
  .memberCell:hover {
    background-color: #d5d5d5;
    .deleteCheckin {
      visibility: visible;
    }
  }
  .memberCell.alreadyCheckedIn {
    background-color: red;
  }
  .memberCell {
    float: left;
    margin: 10px;
    min-width: 30%;
    .top {
      float: left;
    }
    .bottom {
      float: left;
      clear: left;
      .ranking {
        .program,
        .belt {
          float: left;
        }
        .icon-svg {
          height: 1rem;
          width: 3rem;
        }
      }
    }
    .memberInfo {
      padding-left: 6px;
      float: left;
      .overdue {
        cursor: pointer;
        float: left;
        margin-left: 4px;
        margin-top: 7px;
        font-size: 24pt;
        span {
          color: red;
        }
        span:hover {
          text-decoration: underline;
        }
      }
    }
    .L {
      font-weight: bold;
      font-size: 40px;
      color: red;
      clear: left;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
    .F,
    .C {
      font-weight: bold;
      font-size: 40px;
      clear: left;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
    .S {
      font-weight: bold;
      font-size: 40px;
      clear: left;
      float: left;
      margin-top: 0;
      margin-bottom: 0;
    }
    .deleteCheckin {
      cursor: pointer;
      visibility: hidden;
      margin-top: 15px;
      float: left;
      margin-left: 20px;
      .icon-svg {
        height: 2rem;
        width: 2rem;
      }
    }
    .deleteCheckin:hover {
      path {
        fill: #991b1e;
      }
    }
    img {
      width: 100px;
      height: 100px;
      float: left;
      border-style: solid;
      border-color: #d5d5d5;
    }
    .noPhoto {
      width: 100px;
      height: 100px;
      float: left;
      border-style: solid;
      border-color: #d5d5d5;
      text-align: center;
      margin: 0 auto;
      background-color: #f8f8f8;
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      position: relative;
      line-height: 85px;
      font-size: 40px;
    }
    h4 {
      float: left;
      margin-top: 4px;
    }
  }
}
.readyToScan {
  h5 {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }
  span.SVGInline.icon {
    float: left;
  }
  .icon-svg {
    height: 3rem;
    width: 3rem;
  }
}
