body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
a {
  color: $blue0;
  &:focus {
    box-shadow: none;
    outline: $blue3 dotted thin;
  }
}

.tooltip {
  font-size: 0.75rem;
}

.fade:not(.show) {
  opacity: unset; /* Override issue */
}

.setStatusDialog {
  top: 15% !important;
  left: 25% !important;
}
.statusOptions label {
  margin: 15px;
}
.statusInfo {
  width: 100%;
  .status {
    color: unset;
    width: auto;
    float: left;
  }
}
