.supported-card-icon {
  height: 25px;
  border: none !important;
}
.billingAudit {
  top: 133px !important;
  width: 80% !important;
  left: 50px !important;
  .rt-td {
    white-space: inherit !important;
  }
  @media (min-width: 544px) {
    top: 120px !important;
    width: 70% !important;
    left: 417px !important;
  }
}
.changeReason {
  top: 133px !important;
  width: 80% !important;
  left: 50px !important;

  @media (min-width: 544px) {
    top: 120px !important;
    width: 70% !important;
    left: 417px !important;
  }

  h3 {
    margin-top: 2px;
  }
  form {
    padding-bottom: 0px;
    margin-bottom: 0;
  }
}

.editPaymentType {
  top: 133px !important;
  width: 80% !important;
  left: 50px !important;
  @media (min-width: 544px) {
    top: 120px !important;
    width: 70% !important;
    left: 417px !important;
  }
}

.newCustomers {
  top: 133px !important;
  width: 80% !important;
  left: 50px !important;
  @media (min-width: 544px) {
    top: 120px !important;
    width: 70% !important;
    left: 417px !important;
  }
}

.whiteSpaceNoWrap {
  white-space: unset !important;
}
