.home {
  height: '100vh';
  .buttons {
    padding: '10px';
  }
  .chart1 {
    width: '90vw';
  }
  .chart2 {
    width: '90vw';
    margin-top: '12px';
  }
  .chart5 {
    .recharts-pie {
      text {
        font-size: 14px;
      }
    }
  }
}
.homeOverdues {
  float: left;
  clear: left;
}
.dashboard {
  height: 3100px;
  @media (min-width: 321px) {
    height: 3400px;
  }
  @media (min-width: 544px) {
    height: 3000px;
  }
  @media (min-width: 768px) {
    height: 2000px;
  }
  .page-header {
    text-align: left;
    .dateSettings {
      button {
        text-transform: capitalize;
        width: 110px;
        height: 40px;
        display: inline-block;
        background-color: $gray2;
      }
      button[active='true'] {
        background-color: gray;
      }
      .btn-primary:hover {
        background-color: $darkgray !important;
      }
    }
  }
  .stat_customDatesContainer {
    margin-left: 30%;
  }
  .charts {
    clear: left;
    .chart2Column {
      .col1,
      .col2 {
        margin: 0.5%;
        width: 100%;
        float: left;
        background-color: $darkgray;
        border-radius: 8px;
        @media (min-width: 768px) {
          width: 48%;
        }
        .recharts-responsive-container {
          width: 96% !important;
          margin-left: 2%;
          margin-bottom: 10px;
          background-color: white;
        }
      }
      .page-header {
        text-transform: uppercase;
        color: white;
        margin-left: 2%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        .header {
          display: flex;
        }
        select#dateRange {
          width: 22%;
          margin-left: 10px;
          line-height: 1rem;
          height: auto;
        }
      }
      .leadConversion {
        width: 100%;
      }
      .dateRange {
        background-color: white;
        width: 96% !important;
        margin-left: 2%;
        margin-bottom: 10px;
        margin-top: -10px;
      }
      .customDatesContainer {
        position: absolute;
        background-color: #bdbdbd;
        width: 600px;
        margin-left: 20px;
        z-index: 10;
      }
      .attendancesLoading {
        height: 397px;
        p {
          color: white;
          margin: 20px;
        }
      }
      .attendancesByDate {
        .xAxis {
          font-size: 12px;
        }
      }
    }
    .chart1Column {
      clear: left;
      .col {
        margin: 0.5%;
        width: 97%;
        float: left;
        background-color: $darkgray;
        border-radius: 8px;
        .recharts-responsive-container {
          width: 96% !important;
          margin-left: 2%;
          margin-bottom: 10px;
          background-color: white;
        }
      }
      .recharts-tooltip-item-name,
      .recharts-tooltip-item-separator {
        display: none;
      }
      .recharts-default-tooltip {
        height: 150px;
        border-radius: 8px;
        background-color: $darkgray !important;
        padding: 0px 6px 0px 6px !important;
        .recharts-tooltip-label {
          color: white;
        }
        .recharts-tooltip-item-list {
          background-color: white;
          height: 114px;
          .tooltipDetail {
            .tooltipLabel {
              float: left;
              clear: left;
              text-transform: uppercase;
              margin-left: 2px;
              width: 150px;
              color: $darkgray;
              font-size: 14px;
            }
            .tooltipValue {
              float: left;
              margin-left: 2px;
              width: 50px;
              color: $darkgray;
              font-size: 14px;
            }
          }
        }
      }
    }
    .page-header {
      text-transform: uppercase;
      color: white;
      margin-left: 2%;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      text-align: left;
    }
  }

  .statItem:nth-child(3) {
    clear: left;
    @media (min-width: 768px) {
      clear: unset;
    }
  }
  .statItem {
    width: 100%;
    @media (min-width: 544px) {
      clear: unset;
      width: 48%;
    }
    @media (min-width: 768px) {
      clear: unset;
      width: 24%;
    }
  }
  .leadStatistics {
    margin: 0.5%;
    max-width: 1183px;
    .statisticsHeader {
      color: #4d5059;
      text-transform: uppercase;
      font-family: AdiHaus DIN Medium;
      font-size: 18px;
      float: left;
    }
    .lctView {
      float: left;
      margin-left: 40px;
      label {
        float: left;
      }
      .checkboxFilter {
        clear: none;
        float: left;
        margin-left: 10px;
      }
    }
    .help {
      margin-left: 10px;
      cursor: pointer;
    }
    .lctModeHelp {
      display: none;
      float: left;
    }
    .statItems {
      display: block;
      clear: left;
      .statItem {
        background-color: #4d5059;
        margin: 0.5%;
        border-radius: 8px;
        float: left;
        .info {
          display: flex;
          .label {
            width: 40%;
            color: white;
            margin: 4px;
            margin-left: 8px;
          }
          .value {
            width: 60%;
            text-align: center;
            font-size: 70px;
            line-height: 65px;
            font-family: AdiHaus DIN Medium;
            color: white;
            cursor: pointer;
          }
        }
        .value {
          color: white;
        }
        .barDiv {
          display: flex;
          .bar {
            height: 14px;
            margin: 5px;
            width: 75%;
            background-color: white;
            position: relative;
            .percent {
              background-color: #2ac940;
              height: 100%;
              position: absolute;
              max-width: 100%;
            }
            .percent50 {
              background-color: #fa9917;
              height: 100%;
              position: absolute;
            }
          }
          .value {
            width: 50px;
            color: white;
          }
        }
        .leads {
          position: absolute;
          width: 850px;
          top: 200px;
          z-index: 100;
          background-color: white;
          left: calc(25%);
          .closeLeads {
            position: absolute;
            z-index: 100;
            margin-left: 8px;
            margin-top: 2px;
            cursor: pointer;
          }
          .closeLeads path {
            fill: white !important;
          }
        }
      }
    }
  }
  .memberStatistics {
    margin: 0.5%;
    max-width: 1153px;
    clear: left;
    .statItems {
      display: block;
      .statItem {
        background-color: $gray2;
        margin: 0.5%;
        border-radius: 8px;
        float: left;
        .info {
          display: flex;
          .label {
            width: 40%;
            color: #4d5059;
            margin: 4px;
            margin-left: 8px;
          }
          .value {
            width: 60%;
            text-align: center;
            font-size: 70px;
            line-height: 65px;
            font-family: AdiHaus DIN Medium;
            color: #4d5059;
            cursor: pointer;
          }
        }
        .info.percentage {
          .value {
            font-size: 45px !important;
          }
        }
        .value {
          color: #4d5059;
        }
        .members.retentionRates {
          width: 1000px !important;
          left: 200px !important;
          top: 100px !important;
          background-color: #4d5059 !important;
          border-radius: 5px;
        }
        .members {
          position: absolute;
          width: 800px;
          top: 300px;
          z-index: 100;
          background-color: white;
          left: calc(25%);
          .closeMembers {
            position: absolute;
            z-index: 100;
            margin-left: 8px;
            margin-top: 2px;
            cursor: pointer;
          }
          .retentionRates {
            background-color: white;
            border-radius: 5px;
            margin-left: 10px;
            margin-top: 32px;
            margin-right: 10px;
            margin-bottom: 10px;
            table {
              width: 100%;
              .left {
                text-align: left !important;
                padding-left: 20px;
              }
              .right {
                text-align: right !important;
                padding-right: 20px;
              }
              tr {
                text-align: center;
              }
              tr.header {
                border-bottom-style: solid;
                border-bottom-width: 1px;
              }
              th {
                padding-right: 15px;
                padding-left: 5px;
                background-color: #e2dddd;
              }
              .footer {
                background-color: #efe6e6;
              }
            }
            .help {
              margin-left: 10px;
              cursor: pointer;
              float: left;
            }
            .retentionRateHelp {
              display: none;
              float: left;
              table {
                tr.header {
                  border-bottom-style: solid;
                  border-bottom-width: 1px;
                  background-color: #aeabab;
                  font-size: 25px;
                }
                tr {
                  text-align: center;
                  td.col1 {
                    width: 200px;
                    text-align: left;
                    padding-left: 4px;
                    background-color: #f4eded;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                  }
                  td.col2 {
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    border-left-style: solid;
                    border-left-width: 1px;
                  }
                }
              }
            }
          }
          .closeMembers path {
            fill: white !important;
          }
        }
      }
    }
  }
}
