// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Icons, svg images
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SVG colors
.icon-svg {
  height: 1rem;
  width: 1rem;
  path,
  .primary-fill {
    fill: $darkgray;
  }
  .primary-stroke {
    stroke: $darkgray;
    fill: none;
  }
}
.svg-gb-icon-svg {
  path {
    fill: white;
  }
  .cls-1 {
    fill: $darkgray;
  }
}

// Wrapper for React icons
.icon-wrapper {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
  }
}

span.SVGInline.attention.icon .icon-svg path {
  fill: orange;
}
span.SVGInline.attention.icon {
  padding-right: 4px;
}
span.SVGInline.attention.hide {
  display: none;
}
span.SVGInline.noBilling.icon .icon-svg path {
  fill: #a46fad;
}
span.SVGInline.noBilling.icon {
  padding-right: 4px;
}
span.SVGInline.noBilling.hide {
  display: none;
}
