// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Icons, svg images
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SVG colors
.icon-svg,
.icon-svg svg {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  path,
  .primary-fill {
    fill: $darkgray;
  }
  .primary-stroke {
    stroke: $darkgray;
    fill: none;
  }
}
.svg-gb-icon-svg {
  path {
    fill: white;
  }
  .cls-1 {
    fill: $darkgray;
  }
}

// Wrapper for React icons
.icon-wrapper {
  display: flex;
  align-items: center;
  .icon {
    display: flex;
  }
}

.attention.icon.icon-svg path {
  fill: orange !important;
}
.attention.icon {
  padding-right: 4px;
}
.attention.hide {
  display: none;
}
.noBilling.icon.icon-svg path {
  fill: #a46fad;
}
.noBilling.icon {
  padding-right: 4px;
}
.noBilling.hide {
  display: none;
}
.cancelling.icon {
  padding-left: 4px;
}
.cancelling.hide {
  display: none;
}
.freezing.icon {
  padding-left: 4px;
}
.freezing.hide {
  display: none;
}
