.notesTable {
  .ReactTable {
    .notesCell {
      float: left;
      img {
        padding-right: 4px;
      }
    }
    .sms {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.posOrders {
  .productLine {
    display: flex;
  }
  .quantity {
    width: 40px;
  }
  .name {
    margin-right: 40px;
    width: 500px;
  }
  .price {
    width: 100px;
  }
  .stockItems {
    .stockItem {
      display: flex;
      .name {
        margin-left: 40px;
      }
    }
  }
}

.leads {
  #tasksListGrid {
    .react-grid-Header {
      display: none !important;
    }

    .react-grid-Viewport {
      top: 0px !important;
    }
    .react-grid-Cell {
      border-right: 0 !important;
      /*border-bottom: 0 !important;*/
    }

    .react-grid-Cell__value {
      overflow: visible;
    }

    .react-grid-Grid {
      border: 0 !important;
    }
  }
  .pageHeader {
    margin-left: 30px;
  }
  .taskContents {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 20px;
    @media (min-width: 544px) {
    }
    .row {
      margin-left: -1px;
    }
    .headerPanel {
      height: 30%;
      background-color: rgb(247, 247, 247);
      border-color: rgb(213, 213, 213);
      border-width: 1px;
      border-style: solid;
      border-radius: 0px;
      margin: 10px;
      .col {
        margin-top: 8px;
      }
      .leadListButton {
        margin-top: 40px;
      }
    }
    .form-group {
      label {
        margin-left: 3px;
      }
      .showTasks {
        width: 100%;
      }
    }
    .notesCell img {
      margin-right: 4px;
    }
  }
  .leadContents {
    background-color: #f7f7f7;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    @media (min-width: 544px) {
    }
    .row {
      margin-left: 15px;
    }
    .addNewLead {
      position: relative;
      @media (min-width: 544px) {
        position: absolute;
        top: 32px;
        left: 244px;
      }
    }
    .rt-noData {
      top: 65px;
    }
  }
  #dateDiv {
    width: 35px;
    height: 55px;
    text-align: center;
    background-color: rgba(204, 204, 204, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    color: #ffffff;
  }
  #leadsListGrid {
    .react-grid-HeaderCell {
      height: auto !important;
      font-weight: normal !important;
      padding: 5px !important;
      border-top: 0 !important;
      border-right: 0 !important;
    }
    .react-grid-Cell {
      background-color: #f7f7f7 !important;
      border: none !important;
      /*height: auto !important;*/
    }
    .react-grid-Cell__value {
      background-color: #f7f7f7 !important;
      border: 0 !important;
    }
    .react-grid-Grid {
      border: 0 !important;
    }
    .react-grid-Grid {
      border: 0 !important;
    }
  }
  #noteDetailDiv {
    padding-left: 0 !important;
    .rt-noData {
      top: 35px;
    }
    .attentionRequired {
      clear: left;
      float: left;
      border-radius: 5px;
      border-style: none;
      margin-right: 4px;
      padding-left: 4px;
    }
    .attentionRequired:hover {
      background-color: #d0cdcd;
    }
  }

  .card-header {
    .contact-methods {
      float: left;
    }
  }

  .followup_button:before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .followup_image:before {
    background-image: url(../images/followup.png);
  }

  a.leadDetailAnchor:hover {
    cursor: pointer;
  }

  a.leadDetailAnchor {
    border-radius: 0;
    text-decoration: none;
    color: inherit;
  }

  a.cursorPointer:hover {
    cursor: pointer;
  }

  #tasksListGrid1 {
    .rt-td {
      margin: auto;
    }
    .rt-thead {
      display: none;
    }
    .ReactTable {
      border-left: 0 !important;
      border-right: 0 !important;
    }
    .ReactTable .rt-tr-group {
      flex: 0 0 auto;
    }
  }
  #leadsListGrid1 {
    .rt-td {
      margin: auto !important;
      text-align: center !important;
    }
    .rt-thead {
      border: 0 !important;
    }
    .ReactTable {
      border: 0 !important;
    }
    .ReactTable .rt-tr-group {
      flex: 0 0 auto;
      border: 0 !important;
    }
    .ReactTable .-sort-asc {
      box-shadow: inherit !important;
    }
    .ReactTable .-sort-desc {
      box-shadow: inherit !important;
    }
  }
  .datetime #reminderDate {
    width: 60%;
    margin-bottom: 10px;
  }

  #memberTasksGrid {
    .rt-td {
      margin: auto;
    }
    .rt-thead {
      display: none;
    }
    .ReactTable {
      border-left: 0 !important;
      border-right: 0 !important;
    }
    .ReactTable .rt-tr-group {
      flex: 0 0 auto;
    }
  }
}
#noteDetailDiv {
  .attentionRequired {
    clear: left;
    float: left;
    border-radius: 5px;
    border-style: none;
    margin-right: 15px;
    margin-top: 15px;
    padding-left: 4px;
  }
  .attentionRequired:hover {
    background-color: #d0cdcd;
  }
  .deleteNote {
    .icon-svg {
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }
  }
  .icon-svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

#notesDiv {
  .nav-tabs .nav-item {
    margin-right: inherit;
    @media (min-width: 544px) {
      margin-right: 15px;
    }
  }
  .nav-tabs .nav-item.label {
    margin-top: 16px;
    margin-right: 5px;
  }
  .nav-tabs {
    border-bottom: none !important;
  }
  .card-header {
    border-bottom: none;
  }
  .nav-link {
    margin: 0;
    padding: 10px;
  }
  .nav-item .nav-link img {
    width: 24px;
    height: 24px;
  }
  .contact-methods {
    float: inherit;
    margin-bottom: inherit;
    border-bottom: inherit;
    @media (min-width: 544px) {
      float: left;
      margin-right: 20px;
      margin-bottom: -10px;
      border-bottom: 0;
    }
  }
  .contact-method-select {
    float: right;
    margin-left: 4px;
    margin-top: 20px !important;
    @media (min-width: 900px) {
      float: left;
      margin-top: 0 !important;
    }
  }
  .rt-thead {
    display: none;
  }
  .ReactTable {
    border-top: 0 !important;
  }
  #notes {
    width: 100%;
    display: block;
    border-top: 0px;
    border-color: #f7f7f9;
  }
  .notesCell {
    float: left;
    border: none;
    margin-right: 10px;
    img {
      padding-right: 4px;
    }
  }
  .rt-td.notes {
    text-align: left;
  }
  #saveNote {
    white-space: normal;
    width: 100%;
    height: 40px;
    padding: 0px;
    background-color: $darkgray;
    @media (min-width: 544px) {
      height: 124px;
    }
  }
  .script-dropdown {
    width: 250px;
    margin: 0px 10px 0px 10px;
  }
}

.leadConversion {
  width: 300px;
  @media (min-width: 630px) {
    width: 650px;
  }
  margin: 0 auto;
  .chart1 {
    width: 100%;
    @media (min-width: 630px) {
      width: 45%;
    }
  }
  .arrow {
    width: 60px;
    margin-top: 0;
    margin-left: 41%;
    @media (min-width: 630px) {
      width: 10%;
      margin-top: 100px;
      margin-left: 0;
    }
    .fa {
      font-size: 48px;
      color: #086a87;
    }

    .fa-chevron-right {
      display: none;
    }
    .fa-chevron-down {
      display: block;
    }
    @media (min-width: 630px) {
      .fa-chevron-right {
        display: block;
      }
      .fa-chevron-down {
        display: none;
      }
    }
  }
  .chart2 {
    width: 100%;
    @media (min-width: 630px) {
      width: 45%;
    }
    .circle {
      width: 250px;
      height: 250px;
      border-radius: 250px;
      font-size: 20px;
      color: #fff;
      text-align: center;
      background: #f5ecce;
      margin: 0 auto;
      @media (min-width: 630px) {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    .info {
      top: 60px;
      position: relative;
      .leadsCount {
        color: #086a87;
        font-weight: bold;
      }
      .convertedTo {
        color: black;
        font-weight: normal;
      }
      .students {
        color: #086a87;
        font-weight: bold;
        font-size: 150%;
      }
    }
  }
}

.call-scripts-modal {
  width: 98% !important;
  left: 1% !important;
  top: 15% !important;
  min-height: 750px;
  @media (min-width: 544px) {
    width: 70% !important;
    left: 20% !important;
  }
}
.call-scripts-modal .narcissus_x3xwbs {
  left: 0;
  top: -11px;
}
/*.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}*/
/*div.react-grid-Row div.react-grid-Cell:nth-of-type(1){
  width: 10vw !important;
}

div.react-grid-Row div.react-grid-Cell:nth-of-type(2){
  width: 20vw !important;
}

div.react-grid-Row div.react-grid-Cell:nth-of-type(3){
  width: 20vw !important;
}

div.react-grid-Row div.react-grid-Cell:nth-of-type(4){
  width: 15vw !important;
}

div.react-grid-Row div.react-grid-Cell:nth-of-type(5){
  width: 15vw !important;
}*/
.gmail_quote img {
  display: none;
}
input#leadSearch {
  float: left;
}
button#attentionRequiredOnly {
  cursor: pointer;
  margin-left: 8px;
  margin-top: 4px;
}
button#attentionRequiredOnly.Active {
  border-style: inset;
  border-width: 2px;
  background-color: #eee8e8;
}

.converted {
  .followup {
    display: none;
  }
  #notesDiv {
  }
  .setStatus,
  .phone,
  .email,
  .sms,
  .person,
  .intro_class,
  .free_class,
  .sendEmail,
  .sendSMS,
  .viewScript {
    display: none;
  }
}
