.userNameInfo {
  display: flex;
  .userName {
    margin: 0;
    float: left;
  }
}
.emailSentSubject {
  cursor: pointer;
}
.smsTable {
  .nowrap {
    white-space: normal !important;
  }
}
.card1,
.card2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 240mm;
  height: 330mm;
  float: left;
  clear: left;
}
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    float: none;
  }
  .attendanceCard {
    .card1 {
      margin-top: 0mm;
    }
    .card2 {
      margin-top: 10mm;
      height: 324mm !important;
    }
    .card1,
    .card2 {
      width: 240mm;
      height: 330mm;
      /*      width: 148mm;
      height: 209mm;*/
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .attendanceCard.US {
    .card1 {
    }
    .card2 {
      margin-top: 10mm;
      height: 324mm !important;
    }
    .card1,
    .card2 {
      width: 185mm;
      height: 262mm;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
@page {
  size: a5 landscape;
  .attendanceCard.US {
    size: letter landscape;
  }
}
.card1.GB1 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB1-P1.png);
}
.card1.GB2 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB2-P1.png);
}
.card1.GB3 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB3-P1.png);
}
.card1.Tiny_Champions {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Tiny_Champions-P1.png);
}
.card1.Little_Champions_1 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Little_Champions_1-P1.png);
}
.card1.Little_Champions_2 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Little_Champions_2-P1.png);
}
.card1.Juniors {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Juniors-P1.png);
}
.card1.Teens {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Teens-P1.png);
}
.card1.Advanced_Kids {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Advanced_Kids-P1.png);
}
.card1.Kids_Competition_Team {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Kids_Competition_Team-P1.png);
}

.card2.GB1 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB1-P2.png);
}
.card2.GB2 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB2-P2.png);
}
.card2.GB3 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/GB3-P2.png);
}
.card2.Tiny_Champions {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Tiny_Champions-P2.png);
}
.card2.Little_Champions_1 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Little_Champions_1-P2.png);
}
.card2.Little_Champions_2 {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Little_Champions_2-P2.png);
}
.card2.Juniors {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Juniors-P2.png);
}
.card2.Teens {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Teens-P2.png);
}
.card2.Advanced_Kids {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Advanced_Kids-P2.png);
}
.card2.Kids_Competition_Team {
  background-image: url(https://gbfms-files.s3-ap-southeast-2.amazonaws.com/Kids_Competition_Team-P2.png);
}

.US {
  .card1.GB1 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB1-P1.png);
  }
  .card1.GB2 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB2-P1.png);
  }
  .card1.GB3 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB3-P1.png);
  }
  .card1.Tiny_Champions {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USTiny_Champions-P1.png);
  }
  .card1.Little_Champions_1 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USLittle_Champions_1-P1.png);
  }
  .card1.Little_Champions_2 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USLittle_Champions_2-P1.png);
  }
  .card1.Juniors {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USJuniors-P1.png);
  }
  .card1.Teens {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USTeens-P1.png);
  }
  .card1.Advanced_Kids {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USAdvanced_Kids-P1.png);
  }
  .card1.Kids_Competition_Team {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USKids_Competition_Team-P1.png);
  }

  .card2.GB1 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB1-P2.png);
  }
  .card2.GB2 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB2-P2.png);
  }
  .card2.GB3 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USGB3-P2.png);
  }
  .card2.Tiny_Champions {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USTiny_Champions-P2.png);
  }
  .card2.Little_Champions_1 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USLittle_Champions_1-P2.png);
  }
  .card2.Little_Champions_2 {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USLittle_Champions_2-P2.png);
  }
  .card2.Juniors {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USJuniors-P2.png);
  }
  .card2.Teens {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USTeens-P2.png);
  }
  .card2.Advanced_Kids {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USAdvanced_Kids-P2.png);
  }
  .card2.Kids_Competition_Team {
    background-image: url(https://us-gbfms-files.s3.us-east-2.amazonaws.com/USKids_Competition_Team-P2.png);
  }
}
.replyIcon {
  cursor: pointer;
}
.memberDetails {
  margin: -20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: $darkgray;
    border-color: $darkgray;
  }
  .deleteNote {
    .icon-svg {
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }
  }
  .icon-svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
  }
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e3e5e8;
  }
  .row {
    .col-sm-10 {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0;
    }
    .col-sm-9.notes {
      flex: 0 0 100%;
      max-width: 100%;
      @media (min-width: 544px) {
        flex: 0 0 70%;
        max-width: 70%;
      }
      @media (min-width: 1065px) {
        flex: 0 0 75%;
        max-width: 75%;
      }
      @media (min-width: 1220px) {
        flex: 0 0 83%;
        max-width: 83%;
      }
    }

    .col-sm-2.notesButton {
      flex: 0 0 100%;
      max-width: 90%;
      @media (min-width: 544px) {
        flex: 0 0 30%;
        max-width: 30%;
      }
      @media (min-width: 1065px) {
        flex: 0 0 20%;
        max-width: 20%;
      }
      @media (min-width: 1220px) {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }
  .viewContent {
    @media only screen and (max-width: 700px) {
      .email-row {
        margin: unset !important;
      }
    }
    .deleteFile {
      cursor: pointer;
    }
    .posOrders {
      .productLine {
        display: flex;
      }
      .quantity {
        width: 40px;
      }
      .name {
        margin-right: 40px;
        width: 500px;
      }
      .price {
        width: 100px;
      }
      .stockItems {
        .stockItem {
          display: flex;
          .name {
            margin-left: 40px;
          }
        }
      }
      .printReceipt {
        cursor: pointer;
      }
    }
  }
  .memberHeader {
    height: 64px;
    .name {
      height: 64px;
      float: left;
      background-color: $darkgray;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: 25px;
      color: white;
      padding: 12px;
    }
    .viewContent {
      background-color: white;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .rankingImages {
      float: right;
      margin-top: 15px;
      padding-right: 4px;
      background-color: #f8f8f8;
      .program {
        float: left;
        .icon-svg {
          height: 3rem;
          width: 4.5rem;
          path {
            fill: $darkgray;
          }
        }
      }
      .belt {
        float: left;
        .icon-svg {
          height: 3rem;
          width: 8.5rem;
          margin-left: 10px;
          path {
            fill: $darkgray;
          }
        }
      }
    }
  }
  .general {
    clear: left;
  }
  .row {
    margin-left: 20px;
    margin-right: 10px;
    @media (min-width: 544px) {
      margin-right: 0px;
    }
    .notes {
      padding-left: 0;
    }
    .followup_button {
      margin-top: 10px;
    }
    .notesButton {
      width: 100%;
      margin-left: 0;
    }
  }
  .cursorPointer img {
    margin-top: 8px;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }

  .iconItem {
    text-align: center;
    width: auto;
    display: flex;
    float: left;
    clear: left;
    margin-right: 20px;
    padding: 4px;
    .value {
      margin-left: 10px;
      font-size: 18px;
    }
    a {
      color: $darkgray;
    }
  }
  .btn-primary {
    border: none;
    margin: 0 5px;
    line-height: 1.75rem;
    text-transform: capitalize;
    font-size: 15px;
    &:hover {
      color: $white;
      background-color: darken($button, 25%);
    }
  }
  .icon-svg {
    height: 1.5rem;
    width: 1.5rem;
    path {
      fill: $darkgray;
    }
  }
  .viewPhotoDiv {
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    height: 180px;
    float: left;
    .photo {
      width: 100%;
      height: 100%;
    }
  }
  .noPhoto {
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    height: 180px;
    line-height: 150px;
    font-size: 80px;
    float: left;
  }
  .leadInfo {
    margin-top: 9px;
    a {
      font-size: 1.5em;
    }
  }
  .userDetails {
    height: auto;
    background-color: #cccccc;
    .details1 {
      height: auto;
      position: relative;
      display: inline-block;
      color: $darkgray;
      padding-left: 20px;
      padding-top: 20px;
      font-size: 18px;
      float: left;
      max-width: 50%;
      h1 {
        margin-top: 0;
        width: auto;
        float: left;
        margin-bottom: 0;
      }
      p {
        float: left;
        margin: 0;
      }
      .buttons {
        float: right;
        position: relative;
        margin-top: 40px;
      }
      .address {
        float: left;
        clear: left;
      }
    }
    .details2 {
      height: auto;
      position: relative;
      color: #4d5059;
      padding-left: 20px;
      padding-top: 20px;
      float: left;
      clear: left;
      @media (min-width: 1157px) {
        padding-left: auto;
        padding-right: 20px;
        float: right;
        clear: none;
      }
      .status {
        color: gray;
        float: right;
        p {
          width: auto;
          float: left;
          margin: 0;
          margin-right: 2px;
        }
        .green {
          height: 25px;
          width: 25px;
          background-color: green;
          border-radius: 16px;
          float: left;
        }
        .red {
          height: 25px;
          width: 25px;
          background-color: red;
          border-radius: 16px;
          float: left;
        }
        .blue {
          height: 25px;
          width: 25px;
          background-color: blue;
          border-radius: 16px;
          float: left;
        }
      }
      .buttons {
        float: right;
        clear: right;
        .btn-primary {
          border: none;
          margin: 0 10px;
          margin-bottom: 2px;
          line-height: 1.75rem;
          clear: right;
          float: right;
          min-width: 100px;
          text-transform: capitalize;
          font-size: 15px;
        }
        .username {
          clear: right;
          float: right;
          background-color: #d0cdcd;
          border-radius: 5px;
          padding: 2px;
          margin-right: 10px;
          .label {
            float: left;
          }
          .value {
            float: left;
          }
        }
        .attentionRequired {
          clear: left;
          float: left;
          border-radius: 5px;
          border-style: none;
          margin-right: 4px;
          padding-left: 4px;
        }
        .attentionRequired:hover {
          background-color: #d0cdcd;
        }
      }
      .emergency {
        margin-left: 0px;
        clear: both;
        float: right;
        .icon.barcodePrint {
          float: left;
        }
        .memberBarcode {
          float: left;
        }
      }
    }
  }
  .emergency {
    margin-left: 0px;
    @media (min-width: 544px) {
      margin-left: 240px;
    }
    .icon-svg {
      path {
        fill: $darkgray;
      }
    }
    .emergencyNumber {
      float: left;
      margin-left: 25%;
      width: 100%;
      @media (min-width: 544px) {
        float: none;
        margin-left: 0;
        width: auto;
      }
    }
    .memberBarcode {
      float: left;
    }
    .barcodePrint-svg {
      margin-top: 10px;
      cursor: pointer;
    }
  }
  .userDetails2 {
    display: block;
    @media (min-width: 544px) {
      display: flex;
    }
    clear: left;
    width: 100%;
    h4 {
      margin-top: 10px;
    }
    .ranking {
      width: 100%;
      margin: 20px;
      margin-right: 0;
      border-top: 1px solid $darkgray;
      .program {
        padding: 10px;
        p {
          margin-bottom: unset;
        }
      }
      .nolastPromotion {
        color: red;
      }
      .statsbar {
        cursor: pointer;
      }
      .icon-svg path {
        fill: #991b1e;
      }
    }
    .billing {
      width: 100%;
      border-top: 1px solid $darkgray;
      margin: 20px;
      margin-left: 0;
      .billingPlan {
        padding: 10px;
        background-color: #f7f7f7;
        color: black;
        width: auto;
        text-align: center;
        border: 1px solid #dfe2e5;
        display: flex;
        p {
          margin-bottom: unset;
        }
      }
    }
  }
}

.memberEditDetails {
  background-color: white;
  .userDetails {
    margin: 10px;
    .memberBarcode {
      margin-top: 16px;
    }
    h1 {
      margin: 10px;
    }
    hr {
      color: #d5d5d5;
      border-bottom: 0;
      margin: 4px;
    }
    span.line {
      display: grid;
      @media (min-width: 544px) {
        display: flex;
      }
    }
    .section1 button.active {
      background-color: #97de2a;
    }
    .section1 button.inactive {
      background-color: #de872a;
    }
    .section1 .line > div {
      width: auto;
      @media (min-width: 544px) {
        width: 30%;
      }
    }
    .emailDiv {
      @media (min-width: 544px) {
        width: 55% !important;
      }
    }
    .section2 div {
      width: 50%;
    }
    .section3 .field {
      width: 50%;
    }
    .section4 {
      clear: left;
      margin-bottom: 40px;
      padding-top: 20px;
      span.line {
        width: 100%;
        display: block;
      }
      span.leftButtons {
        float: left;
        width: 50%;
      }
      span.rightButtons {
        float: right;
        width: 50%;
        a.btn.btn-primary {
          float: right;
        }
        button#saveButton {
          float: right;
        }
      }
    }
    label {
      float: left;
      min-width: 180px;
      margin-bottom: 0;
      margin-top: 2px;
    }
    label[required]::before {
      content: '*';
      color: red;
    }
    input,
    select {
      float: left;
      clear: left;
    }
    .sectionParent {
      .radioGroup {
        width: 70% !important;
      }
      br {
        clear: left;
      }
      label.radio {
        min-width: unset;
      }
    }
  }
  .DayPickerInput input {
    float: none !important;
  }
  .general {
    max-width: 700px;
  }
  .section1,
  .section2,
  .section3 {
    float: left;
  }
  .btn-primary {
    border: none;
    margin: 0 5px;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    font-size: 15px;
    &:hover {
      color: $white;
      background-color: darken($darkgray, 25%);
    }
  }
  input#male {
    clear: left;
  }
  input#female {
    clear: none !important;
  }
  input[type='radio'] {
    float: left;
    margin: 4px;
  }
  select {
    display: inline-block;
    padding: 5px 30px 5px 25px;
    cursor: pointer;
    color: #7b7b7b;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #e6e6e6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px;
  }
  .droparrow {
    position: relative;
    top: 40px;
    right: -9px;
    width: 0 !important;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0;
    border-style: solid;
    border-color: #7b7b7b transparent transparent;
  }
  span#photoForm {
    position: relative;
    right: 0%;
    height: 200px;
    margin: 4px;
    @media (min-width: 544px) {
      height: auto;
    }
    .photo-form {
      position: absolute;
      margin-left: 70px;
      border-style: solid;
      border-color: #e3dfdf;
    }
    .photo {
      position: absolute;
      //  z-index: 100;
      width: 200px;
      height: 200px;
    }
  }
  #saveButton.notDirty {
    background-color: #dbd7d7;
  }
  #saveButton.dirty {
  }
  #duplicateUserInfo.hide {
    display: none;
  }
  #duplicateUserInfo.show {
    display: block;
    display: block;
    width: 100%;
    margin-left: 40px;
    color: red;
  }
}

.billingRegistrationDialog {
  width: 90% !important;
  left: 20px !important;
  @media (min-width: 544px) {
    left: 306px !important;
    width: 70% !important;
  }
  top: 110px !important;
  height: 100%;
  iframe#registeriFrame {
    height: 75%;
  }
  .btn-primary {
    background-color: $darkgray;
    border: none;
    margin: 0 5px;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    &:hover {
      color: $white;
      background-color: darken($darkgray, 25%);
    }
  }
  h1 {
    margin-top: 1rem;
  }
  a.narcissus_x3xwbs {
    display: none;
  }
}

.memberBillingDetails {
  background-color: white;
  #registeriFrame {
    height: 1800px;
    border: 0;
  }
  .userDetails {
    .billingInfo {
      width: 100% !important;
      .show {
        display: block;
      }
      .hide {
        display: none;
      }
    }
    margin: 10px;
    h1 {
      margin: 10px;
    }
    hr {
      color: #d5d5d5;
      border-bottom: 0;
      margin: 4px;
    }
    span.line {
      display: grid;
      @media (min-width: 544px) {
        display: flex;
      }
    }
    .section1,
    .section2 {
      width: 100%;
      float: unset;
    }
    .section1 button.active {
      background-color: #97de2a;
    }
    .section1 button.inactive {
      background-color: #de872a;
    }
    .section1 .line > div {
      width: auto;
      @media (min-width: 544px) {
        width: 30%;
      }
    }
    .section2 div {
      width: 50%;
    }
    label {
      float: left;
    }
    label[required]::before {
      content: '*';
      color: red;
    }
    input,
    select {
      float: left;
      clear: left;
    }
    table {
      width: 100%;
    }
  }
  .section1,
  .section2,
  .section3 {
    float: left;
    clear: left;
  }
  #setupBilling {
    float: left;
  }
  .btn-primary {
    background-color: $darkgray;
    border: none;
    margin: 0 5px;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    &:hover {
      color: $white;
      background-color: darken($darkgray, 25%);
    }
  }
  #saveButton.notDirty {
    background-color: #9e6567;
  }
  #saveButton.dirty {
    background-color: #991b1e;
  }
}

.modal-backdrop.fade {
  opacity: 0.5;
}
.fade {
  opacity: 1;
}
.modal-dialog .modal-content {
  min-height: 100px;
}
.modal-dialog {
  margin: 30% auto;
  height: auto;
  .modal-content {
    h4.modal-title {
      padding: 10px;
      background-color: $gray2;
    }
    .modal-body {
      margin: 20px;
    }
    .modal-footer {
      margin: 10px;
    }
    button {
      margin-top: 10px;
    }
    .btn-danger {
      background-color: $darkgray;
      border-color: $darkgray;
    }
    .btn-danger:focus {
      box-shadow: 0 0 0 0.2rem $gray2;
    }
    .btn-danger:not(:disabled):not(.disabled):active,
    .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
      color: #fff;
      background-color: $gray2;
      border-color: $gray2;
    }
    .btn-danger:not(:disabled):not(.disabled):active:focus,
    .btn-danger:not(:disabled):not(.disabled).active:focus,
    .show > .btn-danger.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem $gray2;
    }
  }
}

.addBillingMember {
  width: 90% !important;
  left: 20px !important;
  @media (min-width: 544px) {
    left: 306px !important;
    width: 70% !important;
  }
  top: 110px !important;
  height: 100%;
  iframe#registeriFrame {
    height: 75%;
  }
  .btn-primary {
    background-color: $darkgray;
    border: none;
    margin: 0 5px;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    &:hover {
      color: $white;
      background-color: darken($darkgray, 25%);
    }
  }
  h1 {
    margin-top: 1rem;
  }
  a.narcissus_x3xwbs {
    display: none;
  }
}

iframe#printf {
  display: none;
}

.attendanceCard {
  .Little_Champions_1 .photoDiv,
  .Little_Champions_2 .photoDiv,
  .Tiny_Champions .photoDiv,
  .Juniors .photoDiv,
  .Teens .photoDiv {
    height: 205px;
    width: 169px;
    margin-left: 655px;
    margin-top: 22px;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 150px;
      margin-bottom: 23px;
    }
  }
  .GB1 .photoDiv {
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 120px;
      margin-bottom: 23px;
    }
  }
  .GB2 .photoDiv,
  .GB3 .photoDiv {
    height: 198px;
    width: 178px;
    margin-left: 662px;
    margin-top: 26px;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 150px;
      margin-bottom: 23px;
    }
  }
  .photoDiv {
    height: 162px;
    width: 174px;
    margin-left: 182mm;
    margin-top: 12.5mm;
    line-height: 95px;
    background-color: transparent;
    float: left;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 120px;
      margin-bottom: 23px;
      margin-top: 38px;
      font-size: 54px;
      transform-origin: 0 0;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      position: absolute;
      background-color: #f1f1f0;
    }
    .photoImg {
      margin-left: 0px;
      margin-top: 5px;
      height: 100%;
      width: 100%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      float: left;
    }
  }
  .attendanceBarcode {
    margin-top: 74mm;
    margin-left: 194mm;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 100px;
    svg {
      width: 207px;
      height: 84px;
    }
  }
  .attendanceName.Advanced_Kids {
    margin-top: 40mm;
    margin-left: 127mm;
  }
  .attendanceName.Little_Champions_1,
  .attendanceName.Little_Champions_2,
  .attendanceName.Tiny_Champions,
  .attendanceName.Juniors,
  .attendanceName.Teens {
    margin-top: 39mm;
    margin-left: 126mm;
  }
  .attendanceName {
    margin-top: 45mm;
    margin-left: 120mm;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    p {
      font-size: 26px;
    }
  }
}

.attendanceCard.US {
  .card1,
  .card2 {
    width: 185mm;
    height: 262mm;
  }

  .Little_Champions_1 .photoDiv,
  .Little_Champions_2 .photoDiv,
  .Tiny_Champions .photoDiv,
  .Juniors .photoDiv,
  .Teens .photoDiv {
    height: 205px;
    width: 169px;
    margin-left: 462px;
    margin-top: 44px;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 150px;
      margin-bottom: 23px;
    }
  }
  .Advanced_Kids .photoDiv {
    height: 119px;
    width: 122px;
    margin-left: 491px;
    margin-top: 77px;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 150px;
      margin-bottom: 23px;
    }
  }
  .GB1 .photoDiv,
  .GB2 .photoDiv,
  .GB3 .photoDiv {
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 120px;
      margin-bottom: 23px;
    }
  }
  .photoDiv {
    height: 162px;
    width: 174px;
    margin-left: 130mm;
    margin-top: 11.5mm;
    line-height: 95px;
    background-color: transparent;
    float: left;
    .noPhotoDiv {
      width: 120px;
      height: 120px;
      padding: 20px;
      margin-left: 120px;
      margin-bottom: 23px;
      margin-top: 38px;
      font-size: 54px;
      transform-origin: 0 0;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      position: absolute;
      background-color: #f1f1f0;
    }
    .photoImg {
      margin-left: 0px;
      margin-top: 5px;
      height: 100%;
      width: 100%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      float: left;
    }
  }
  .attendanceBarcode.Advanced_Kids {
    margin-top: 75mm;
    margin-left: 162mm;
  }
  .attendanceBarcode {
    margin-top: 67mm;
    margin-left: 161mm;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    width: 100px;
    svg {
      width: 207px;
      height: 84px;
    }
  }
  .attendanceName.Advanced_Kids {
    margin-top: 18mm;
    margin-left: 103mm;
  }
  .attendanceName.Little_Champions_1,
  .attendanceName.Little_Champions_2,
  .attendanceName.Tiny_Champions,
  .attendanceName.Juniors,
  .attendanceName.Teens {
    margin-top: 22mm;
    margin-left: 103mm;
  }
  .attendanceName.GB2,
  .attendanceName.GB3 {
    margin-left: 101mm;
  }
  .attendanceName {
    margin-top: 23mm;
    margin-left: 102mm;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    p {
      font-size: 22px;
    }
  }
}
