.messaging {
  img {
    max-width: 100%;
  }
  .msg_box {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .incoming_msg {
    margin: 26px 0 26px;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 4%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }
  .received_withd_msg p {
    background: #edeff3 none repeat scroll 0 0;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg {
    width: 57%;
  }
  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
    height: 90%;
  }

  .sent_msg p {
    background: #4d5059 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }
  .sent_msg {
    float: right;
    width: 86%;
  }
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .messaging {
    padding: 0 0 50px 0;
  }
  .msg_history {
    height: 500px;
    overflow-y: scroll;
  }
}

.sms-modal {
  width: 98% !important;
  left: 1% !important;
  top: 15% !important;
  min-height: 750px;
  @media (min-width: 544px) {
    width: 70% !important;
    left: 20% !important;
  }
}
.sms-modal .narcissus_x3xwbs {
  left: 0;
  top: -11px;
}
