.app .navbar {
  position: absolute;
  top: 80px;
  width: 85%;
  z-index: 100;
}
.navbar {
  padding: 0;
  background-color: $white;
  border-bottom: unset;
  flex-direction: column;
  align-items: stretch;
  .profile {
    margin-right: 9%;
  }
  .nav-item {
    .svg-gb-icon-svg {
      width: 5rem !important;
      height: 2rem !important;
      @media (min-width: 400px) {
        width: 10rem !important;
        height: 5rem !important;
      }
      @media (min-width: 431px) {
        width: 11rem !important;
        height: 5rem !important;
      }
    }
  }
  .dropdown-item {
    .svg-gb-icon-svg {
      width: 5rem !important;
      height: 2rem !important;
    }
  }
  .icon-svg {
    height: 26.28px;
    width: 38.74px;
    @media (min-width: 544px) {
      height: 26.28px;
      width: 38.74px;
    }
  }
}

.nav.nav-header {
  justify-content: space-between;
  padding-right: 5px;
  .dropdown {
    display: flex;
  }
  .reportsNavItem,
  .settingsNavItem,
  .proShopNavItem {
    display: none;
    @media (min-width: 600px) {
      display: flex;
    }
  }
}
ul.nav-header.apps.nav {
  justify-content: left;
  border-top: unset;
}
.nav-header.apps li.nav-item {
  a {
    text-align: center;
    width: 100%;
    display: flex;
    background-color: $gray2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  a.active {
    background-color: $darkgray;
  }
}
.nav-header.apps li.nav-item:hover {
  cursor: pointer;
}
.navbar .apps .appName {
  margin-left: 5px;
  font-family: AdiHaus DIN Medium;
  line-height: 32px;
  size: 25px;
  font-size: 20px;
  display: none;
  // Medium
  @media (min-width: 768px) {
    display: block;
  }
}
.nav.nav-header > .nav-item-centre {
  margin-left: auto;
  display: none;
  @media (min-width: 635px) {
    display: block;
  }
  .GBLogo {
    height: 50px;
    margin-top: 20px;
  }
  .BarraFITLogo {
    height: 38px;
    margin-top: 20px;
  }
}
.nav.nav-header > .nav-item-right {
  margin-left: auto;
  .nav-link {
    font-size: 21px !important;
    padding-top: 24px !important;
    padding-left: 0px !important;
    padding-right: 10px !important;
    .userCompanyName {
      display: none;
      @media (min-width: 820px) {
        display: block;
      }
    }
  }
  .icon-wrapper {
    padding-top: unset !important;
  }
}

.navbar .nav-item {
  display: flex;
  margin-left: 2px;
}

.nav.nav-header .dropdown-menu {
  border-radius: 0;
  border: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 3px 4px);
  margin-top: 0;
  &:after {
    content: '';
    border: 10px solid;
    border-color: transparent transparent white;
    content: '';
    left: 10%;
    margin-left: -10px;
    position: absolute;
    top: -20px;
    z-index: 9998;
  }
  &.alerts-menu:after {
    left: 93%;
  }
  &.help-menu:after {
    left: 98%;
  }
  &.profile-menu:after {
    left: 88%;
  }
  .dropdown-item {
    padding: 1rem 1.5rem;
  }
}

.navbar .apps .nav-link {
  font-size: 16px;
  color: $black;
  line-height: 1;
  padding: 0.3rem 0.2rem;
  @media (min-width: 414px) {
    padding: 0.3rem 0.7rem;
  }
  @media (min-width: 692px) {
    padding: 0.5rem 1rem;
  }
  .badge {
    background-color: #e1251b;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  span {
    color: white;
  }
  .icon-svg path {
    fill: $gray2;
    stroke: white;
    stroke-width: 2px;
  }
}
.reportsNavItem {
  .cls-1,
  .cls-2 {
    stroke-width: 32px !important;
  }
}
.homeNavItem .nav-link.active {
  .icon-svg path {
    fill: #e1251b;
    stroke: #e1251b;
  }
}
.attendanceNavItem .nav-link.active {
  .icon-svg path {
    fill: #8ec640;
    stroke: #8ec640;
    stroke-width: 1px;
  }
}
.leadsNavItem .nav-link.active,
.homeNavItem .nav-link.active {
  .icon-svg path {
    fill: #bdbdbd;
    stroke: #bdbdbd;
  }
  .icon-svg {
    #Path_212,
    #Path_213,
    #Path_214,
    #Path_215 {
      fill: white;
      stroke: white;
    }
    .Path_216 {
      fill: black;
      stroke: black;
    }
    #Path_206,
    #Path_207,
    #Path_208,
    #Path_209 {
      fill: #39f;
      stroke: #39f;
    }
    #Path_210 {
      fill: black;
      stroke: black;
    }
  }
}
.leadsNavItem .nav-link,
.homeNavItem .nav-link {
  .attention-svg.icon-svg {
    height: 20px;
  }
}
.leadsNavItem .nav-link.active {
  .attention-svg.icon-svg path {
    fill: orange;
    stroke: white;
  }
  .attention-svg.icon-svg {
    height: 20px;
  }
}
.sendNavItem .nav-link.active {
  .icon-svg path {
    fill: #8ec640;
    stroke: #8ec640;
  }
}
.gradingNavItem .nav-link.active {
  .icon-svg {
    #Path_186,
    #Path_187 {
      fill: #39f;
      stroke: #39f;
    }
    #Path_188 {
      fill: black;
      stroke: black;
    }
  }
}
.settingsNavItem .nav-link.active {
  .icon-svg path {
    fill: #e1251b;
    stroke: #e1251b;
  }
}
.reportsNavItem .nav-link.active {
  .cls-1 {
    fill: #39f !important;
    stroke: #39f !important;
  }
  .cls-2 {
    fill: #f00 !important;
    stroke: #f00 !important;
  }
}
.proShopNavItem svg {
  .cls-1 {
    fill: white;
  }
}
.proShopNavItem .nav-link.active {
  path {
    stroke: black !important;
  }
  .cls-1 {
    fill: #fa9917 !important;
  }
  path.cls-2 {
    fill: black !important;
  }
}
.navbar .drawer-button {
  border-right: unset;
  .icon-svg path {
    fill: $black;
  }
  .fa {
    color: $darkgray;
    font-size: 34px;
    @media (min-width: 431px) {
      font-size: 46px;
    }
  }
}

.dropdown-toggle::after {
  border-top: 0.4em solid $black;
  border-right: 0.19em solid transparent;
  border-left: 0.19em solid transparent;
}
.modal-content img.companyLogo {
  display: block;
}
.package-layout img.companyLogo {
  right: 0% !important;
}
img.companyLogo {
  position: absolute;
  top: 0%;
  right: -10%;
  display: none;
  width: 60px;
  z-index: 100;
  @media (min-width: 768px) {
    display: block;
  }
}
