.app .navbar {
  position: absolute;
  top: 47px;
  width: 85%;
}
.navbar {
  padding: 0;
  background-color: $white;
  border-bottom: 1px solid $gray2;
  flex-direction: column;
  align-items: stretch;
  .profile {
    margin-right: 9%;
  }
  .icon-svg {
    height: 2rem;
    width: 2rem;
    @media (min-width: 544px) {
      height: 1rem;
      width: 1rem;
    }
  }
}

.nav.nav-header {
  justify-content: space-between;
  padding-right: 5px;
  .dropdown {
    display: flex;
  }
  .reportsNavItem,
  .settingsNavItem {
    display: none;
    @media (min-width: 544px) {
      display: block;
    }
  }
}
ul.nav-header.apps.nav {
  justify-content: space-around;
  border-top: 1px solid #d5d5d5;
}
.nav-header.apps li.nav-item {
  a {
    text-align: center;
    width: 100%;
    display: flex;
  }
  a.active {
    background-color: $gray2;
  }
}
.nav-header.apps li.nav-item:hover {
  background-color: $gray2;
  cursor: pointer;
}
.navbar .apps .appName {
  margin-left: 20px;
  display: none;
  // Medium
  @media (min-width: 768px) {
    display: block;
  }
}
.nav.nav-header > .nav-item-right {
  margin-left: auto;
}

.navbar .nav-item {
  display: flex;
}

.nav.nav-header .dropdown-menu {
  border-radius: 0;
  border: none;
  top: 50px !important;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 3px 4px);
  margin-top: 0;
  &:after {
    content: '';
    border: 10px solid;
    border-color: transparent transparent white;
    content: '';
    left: 10%;
    margin-left: -10px;
    position: absolute;
    top: -20px;
    z-index: 9998;
  }
  &.alerts-menu:after {
    left: 93%;
  }
  &.profile-menu:after {
    left: 88%;
  }
  .dropdown-item {
    padding: 1rem 1.5rem;
  }
}

.navbar .nav-link {
  font-size: 16px;
  color: $black;
  padding: 0.7em;
  line-height: 1;
  @media (min-width: 544px) {
    padding: 1em;
  }
  .badge {
    background-color: $orange1;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.navbar .drawer-button {
  border-right: 1px solid $gray2;
  .icon-svg path {
    fill: $black;
  }
}

.dropdown-toggle::after {
  border-top: 0.4em solid $black;
  border-right: 0.19em solid transparent;
  border-left: 0.19em solid transparent;
}
.modal-content img.companyLogo {
  display: block;
}
.package-layout img.companyLogo {
  right: 0% !important;
}
img.companyLogo {
  position: absolute;
  top: 0%;
  right: -10%;
  display: none;
  width: 60px;
  z-index: 100;
  @media (min-width: 768px) {
    display: block;
  }
}
