.purchaseItemsReport {
  .purchaseItemsByDateDiv {
    margin-left: auto;
    .col-md-8 {
      max-width: unset;
      .form-group.submit {
        .btn {
          margin-left: 10px;
        }
      }
    }
  }
}

// Bambora checkout
#bamboraCheckout {
  .errorDetails {
    background-color: red;
    border-radius: 5px;
    margin: 5px;
  }
  .card-container {
    background-color: rgb(240, 240, 240);
    margin: auto;
    width: calc(95%);

    border: none;
    border-radius: 4px;
  }
  .form-group {
    flex: 0 0 auto;
    flex-flow: column !important;
  }
  #checkout-form {
    position: relative;
    width: 400px;
    padding: 10px;
  }

  #checkout-form label {
    display: block;
    min-height: 25px;

    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
    padding: 0;
    color: red;
  }

  #card-number,
  #card-cvv,
  #card-expiry {
    background-color: #fff;
    display: block;
    width: calc(90%);
    border-radius: 2px;
    border: 1px solid rgba(200, 200, 200, 1);
    padding: 14px 60px 13px 20px;
    margin: auto;
    transition: all 100ms ease-out;
  }

  /* card images are added to card number */
  #card-number {
    background-image: none;

    background-origin: content-box;
    background-position: calc(100% + 40px) center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* buttons */
  .btn {
    vertical-align: top;
  }

  #pay-button {
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: #0c384f;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    transition: all 100ms ease-out;
    padding: 11px 25px;
    margin-left: 30px;
  }

  #pay-button:hover,
  #pay-button:active {
    background-color: rgba(69, 36, 89, 1);
  }

  #pay-button:active {
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.3);
  }

  #pay-button:disabled {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #0c384f;
    color: #0c384f;
  }

  /* feedback is displayed after tokenization */
  #feedback {
    position: relative;
    left: 15px;
    display: inline-block;
    background-color: transparent;
    border: 0px solid rgba(200, 200, 200, 1);
    border-radius: 4px;
    transition: all 100ms ease-out;
    padding: 11px;
  }

  #feedback.error {
    color: red;
    border: 1px solid;
  }

  #feedback.success {
    color: seagreen;
    border: 1px solid;
  }
}
// END Bambora checkout

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    float: none;
    //    margin: 0;
    //    background-color: blue;
    .receiptPrint {
      //margin-top: 100px;
      height: 1100px;
      .header,
      .footer {
        display: block !important;
      }
      .details {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #808080;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        padding-bottom: 30px;

        .lineItem {
          display: flex;
          .quantity {
            width: 50px;
          }
          .price {
            margin-left: auto;
          }
        }
        .services {
          margin-top: 0px;
        }
        .packages {
          .stockItem {
            display: flex;
            margin-left: 50px;
            .name {
              padding-right: 20px;
            }
            .colour {
              padding-right: 20px;
            }
          }
        }
      }
      .subtotal {
        display: flex;
        width: 800px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        .value {
          margin-left: auto;
        }
      }
      .total {
        display: flex;
        width: 800px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        .value {
          margin-left: auto;
        }
      }
      .discountLine {
        display: flex;
        width: 800px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        .value {
          margin-left: auto;
        }
        .percentageValue {
          margin-top: 12px;
        }
      }
      .salestax {
        display: flex;
        width: 800px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        .value {
          margin-left: auto;
        }
        .percentageValue {
          margin-top: 12px;
        }
      }
      .transDetails {
        display: flex;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        .auth_code {
          display: flex;
          margin-right: 20px;
          .label {
            margin-right: 10px;
          }
        }
        .transaction_id {
          display: flex;
          .label {
            margin-right: 10px;
          }
        }
      }
      .datetime {
        display: flex;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
  }
}
/*@page {
  size: a4 portrait;
  margin: 0;
}*/
.proshopContainer {
  span.SVGInline.barcodeIcon {
    height: 30px;
    margin-top: 6px;
  }
  .barcodeIcon-svg {
    width: 50px;
    height: 30px;
  }
}
.recordStockDialog {
  a.narcissus_x3xwbs {
    display: none;
  }
  .productStock {
    .filterInfo {
      margin: 10px;
      display: flex;
      .barcodeIcon-svg {
        width: 50px;
        height: 30px;
      }
      .searchValue {
        margin-left: 10px;
      }
      .editStockView {
        margin-left: 10px;
        label {
          float: left;
        }
        .checkboxFilter {
          clear: none;
          float: left;
          margin-left: 10px;
        }
      }
    }
    .productInfo.even {
      background-color: #f4f0f0;
    }
    .productInfo {
      display: flex;
      .productImage {
        position: relative;
        background-color: #fff;
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
        height: 150px;
        width: 150px;
        margin: 10px;
      }
      .details {
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .item {
          display: flex;
          .label {
            width: 60px;
          }
        }
      }
      .sizes {
        width: 200px;
        margin-top: 10px;
        input {
          display: none;
        }
        input:checked + label {
          border: 1px solid #333;
          box-shadow: 0 0 0 2px #fff, 0 0 0 3px #333;
          background: black;
          color: white;
          font-weight: bold;
        }
        label {
          display: inline-block;
          width: 35px;
          height: 35px;
          vertical-align: middle;
          border: 1px solid #333;
          line-height: 32px;
          font-size: 11px;
          font-weight: normal;
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
        }
        .sizeElement {
          display: inline-block;
          -webkit-transform: translateZ(0);
          -webkit-font-smoothing: antialiased;
          margin: 0 10px 10px 0;
          position: relative;
          background-size: cover;
          -moz-background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          label {
            padding: 0px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.receipt {
  .details {
    .services {
      margin-top: 0;
    }
  }
  .subtotal,
  .discountLine,
  .salestax,
  .total {
    padding-left: 20px;
    .value {
      margin-right: 0 !important;
    }
  }
  .printReceipt {
    display: flex;
    width: 800px;
    margin-left: auto;
    .barcodePrint {
      cursor: pointer;
      .icon-svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

.addDiscountDialog {
  background-color: #4d5059 !important;
  padding: 10px !important;
  padding-top: 0 !important;
  a.narcissus_x3xwbs {
    display: none;
  }
  .discounts {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    .tabs {
      background-color: white;
      margin-right: -10px;
      border-top-right-radius: 5px;
      .discountTab {
        background-color: #4d5059;
        width: 200px;
        border-top-right-radius: 5px;
        padding: 5px;
        .label {
          color: white;
          text-transform: uppercase;
          margin-left: 4px;
          font-size: 20px;
          font-family: 'AdiHaus DIN Medium';
        }
      }
    }
    .discountContent {
      background-color: white;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      label {
        margin-left: 10px;
      }
      .buttons {
        .cancel {
          background-color: #828282;
          margin-left: 63%;
        }
        .add {
          margin-left: 6px;
          background-color: #2ac940;
          margin-left: 6px;
        }
      }
    }
  }
}
.addProductDialog,
.editProductDialog {
  .narcissus_x3xwbs {
    display: none;
  }
}
.addProductToCheckoutDialog {
  .narcissus_x3xwbs {
    display: none;
  }
  .Package {
    .details {
      width: 100%;
      .name {
        display: flex;
        label {
          font-size: 16px;
          margin: 6px;
          width: 85%;
        }
        input {
          margin: 4px;
        }
        .sizes {
          font-size: 18px;
          select {
            padding: 2px;
          }
        }
      }
    }
    .products {
      max-height: 290px;
      overflow: auto;
    }
  }
  .product {
    display: flex;
    .productImage {
      width: 250px;
      height: 400px;
      background-color: white;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .details {
      margin-left: 20px;
      .name {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .style {
        font-size: 12px;
        margin-bottom: 10px;
      }
      .prices {
        margin-bottom: 10px;
      }
      .addToCartBtn {
        width: 100%;
        height: 50px;
        margin-top: 20px;
      }
      .sizes {
        input {
          display: none;
        }
        input:checked + label {
          border: 1px solid #333;
          box-shadow: 0 0 0 2px #fff, 0 0 0 3px #333;
          background: black;
          color: white;
          font-weight: bold;
        }
        label {
          display: inline-block;
          width: 35px;
          height: 35px;
          vertical-align: middle;
          border: 1px solid #333;
          line-height: 32px;
          font-size: 11px;
          font-weight: normal;
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
        }
        .sizeElement {
          display: inline-block;
          -webkit-transform: translateZ(0);
          -webkit-font-smoothing: antialiased;
          margin: 0 10px 10px 0;
          position: relative;
          background-size: cover;
          -moz-background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          label {
            padding: 0px;
            text-align: center;
            cursor: pointer;
          }
        }
        .sizeElement.soldout label {
          border-color: rgba(51, 51, 51, 0.35);
          background: url(//cdn.shopify.com/s/files/1/0035/4356/4397/t/10/assets/sold-out-line.svg?v=5995001665486659450)
            center center no-repeat;
          background-size: cover;
          overflow: hidden;
        }
      }
    }
  }
}

.proshop {
  .setting {
    margin-top: 6px;
    cursor: pointer;
    .icon-svg {
      height: 2rem;
      width: 2rem;
    }
  }
  .paynow {
    .person {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      input {
        margin: 10px;
      }
    }
    .totalRow {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      .total {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #808080;
      }
    }
    .pickup {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      .label {
        font-size: 26px;
        font-family: 'AdiHaus DIN Medium';
      }
      input {
        margin: 10px;
      }
    }
    .paymentType {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      .label {
        font-size: 26px;
        font-family: 'AdiHaus DIN Medium';
      }
      input {
        margin: 10px;
      }
    }
    .capture {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      .pairCode {
        color: #e1251b;
        font-weight: bold;
        font-size: 32px;
      }
      .posPairing {
        .icon-svg {
          height: 6rem !important;
          width: 6rem !important;
        }
      }
      .posPairing.UNPAIRED.S0 path {
        fill: #c7bc3b;
      }
      .posPairing.UNPAIRED.S1 path {
        fill: #bbb9a0;
      }
      .posPairing.PAIRED path {
        fill: #0829de;
      }
      .posPairing.ERROR path {
        fill: red;
      }
      .posPairing.CANCELED path {
        fill: #a20ac9;
      }
      .posPairing.CHECKOUT.S0 path {
        fill: #0829de;
      }
      .posPairing.CHECKOUT.S1 path {
        fill: #aab4ec;
      }
    }
    .creditCard {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
      .rccs {
        perspective: 1000px;
        width: 290px;
        margin: 0;
      }
      .cardDetails {
        width: 300px;
        input {
          margin: 2px;
        }
        input[name='expiry'] {
          width: 90px;
        }
        input[name='cvc'] {
          width: 60px;
        }
      }
    }
    .paynowButton {
      background-color: #e1251b;
      border-radius: 10px;
      color: white;
      margin-left: auto;
      cursor: pointer;
      img {
        margin: 4px;
        height: 32px;
      }
      .label {
        text-transform: uppercase;
        font-family: 'AdiHaus DIN Medium';
        padding-top: 5px;
        margin-right: 4px;
        margin-top: 12px;
        margin-left: 10px;
      }
    }
    .paynowButton[disabled] {
      background-color: #ccbbba !important;
    }
    .error {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      background-color: #ec0c0c;
      border-radius: 5px;
      margin-top: 10px;
      color: white;
      padding: 10px;
      label {
        margin-right: 10px;
      }
    }
  }
  .settings {
    .details {
      width: auto !important;
    }
  }
  .checkout,
  .paynow,
  .settings {
    .delete {
      margin-left: 10px;
      cursor: pointer;
    }
    .topRow {
      display: flex;
      flex-wrap: wrap;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      .ckeckoutIcon {
        bottom: 20px;
        margin-top: 12px;
        path {
          fill: #e1251b;
        }
        svg.SVGInline-svg {
          width: 46px;
          height: 46px;
        }
      }
      .name {
        text-transform: uppercase;
        font-size: 45px;
        font-family: 'AdiHaus DIN Medium';
      }
      .continueShopping {
        margin-left: auto;
        background-color: #2ac940;
        height: 40px;
        border-radius: 10px;
        color: white;
        margin-top: 15px;
        cursor: pointer;
        img {
          margin: 4px;
          height: 32px;
        }
        .keepShopping {
          text-transform: uppercase;
          font-family: 'AdiHaus DIN Medium';
          padding-top: 5px;
          margin-right: 4px;
          margin-top: 12px;
        }
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #808080;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      padding-bottom: 30px;
      .apparel {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      .services {
        width: 800px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .packages {
        width: 800px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        .stockItem {
          display: flex;
          margin-left: 50px;
          .name {
            padding-right: 20px;
          }
          .colour {
            padding-right: 20px;
          }
        }
      }
      .label {
        font-size: 26px;
        font-family: 'AdiHaus DIN Medium';
      }
      .products {
        margin-left: 20px;
        .lineItem {
          display: flex;
          .quantity {
            width: 50px;
          }
          .price {
            margin-left: auto;
          }
        }
      }
    }
    .discountLine {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      .label {
        font-size: 26px;
        font-family: 'AdiHaus DIN Medium';
        text-transform: uppercase;
      }
      .voucherValue input[type='text'] {
        width: 50px;
      }
      .value {
        margin-left: auto;
        margin-right: 3px;
        font-size: 20px;
        font-family: 'AdiHaus DIN Medium';
        color: #2ac940;
      }
      .percentageValue {
        display: flex;
        font-size: 20px;
        font-family: 'AdiHaus DIN Regular';
        margin-top: 20px;
        margin-left: 5px;
      }
      .delete {
        cursor: pointer;
      }
    }
    .subtotal,
    .salestax,
    .total {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;

      .label {
        font-size: 26px;
        font-family: 'AdiHaus DIN Medium';
      }
      .value {
        margin-left: auto;
        margin-right: 27px;
        font-size: 20px;
        font-family: 'AdiHaus DIN Medium';
        color: #4d5059;
      }
    }
    .salestax {
      .value {
        margin-right: 2px !important;
      }
    }
    .total {
      margin-top: 20px;
    }
    .transDetails {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      .label {
        margin-right: 10px;
      }
      .auth_code {
        display: flex;
        margin-right: 20px;
      }
      .transaction_id {
        display: flex;
      }
    }
    .datetime {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    .bottomRow {
      display: flex;
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      .addDiscount {
        background-color: #4d5059;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        img {
          margin: 4px;
          height: 32px;
        }
        .label {
          text-transform: uppercase;
          font-family: 'AdiHaus DIN Medium';
          padding-top: 5px;
          margin-right: 4px;
          margin-top: 12px;
        }
      }
      .checkoutButton {
        background-color: #e1251b;
        border-radius: 10px;
        color: white;
        margin-left: auto;
        cursor: pointer;
        img {
          margin: 4px;
          height: 32px;
        }
        .label {
          text-transform: uppercase;
          font-family: 'AdiHaus DIN Medium';
          padding-top: 5px;
          margin-right: 4px;
          margin-top: 12px;
          margin-left: 10px;
        }
      }
      .checkoutButton[disabled] {
        background-color: #ccbbba !important;
      }
    }
  }

  .catalog {
    .ckeckoutIcon {
      position: fixed;
      bottom: 20px;
      cursor: pointer;
      path {
        fill: #e1251b;
      }
      svg.SVGInline-svg {
        width: 79px;
        height: 79px;
      }
      .basketCount {
        background-color: black;
        color: white;
        border-radius: 18px;
        height: 33px;
        width: 33px;
        text-align: center;
        position: absolute;
        top: 57%;
        font-size: 21px;
        left: 61%;
      }
    }
    .topRow,
    .secondRow {
      display: flex;
      flex-wrap: wrap;
      .editProductsView {
        float: left;
        margin-left: auto;
        padding-top: 8px;
        label {
          float: left;
        }
        .checkboxFilter {
          clear: none;
          float: left;
          margin-left: 10px;
        }
      }
      .categoryIconButton.service.active .icon-svg path {
        fill: #eaa846 !important;
      }
      .categoryIconButton.package.active .icon-svg path {
        fill: #b7b8e3 !important;
      }
      .categoryIconButton {
        background-color: #c8c8c8;
        border-radius: 5px;
        margin: 4px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        .icon {
          margin: 4px;
          margin-bottom: 5px;
          svg {
            width: 24px;
            height: 24px;
            .st0 {
              fill: #4d5059 !important;
            }
          }
        }
        .icon-svg path,
        .icon-svg .primary-fill {
          fill: #4d5059;
        }
        .appName {
          color: #4d5059;
          font-size: 19px;
          text-transform: uppercase;
          margin-top: 4px;
        }
        .droparrow {
          position: relative;
          top: 11px;
          margin-right: 6px;
          margin-left: 6px;
          width: 0 !important;
          height: 0;
          pointer-events: none;
          border-width: 12px 10px 0;
          border-style: solid;
          border-color: #4d5059 transparent transparent;
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
        }
      }
      .categoryIconButton.active {
        background-color: #4d5059;
        .icon-svg path,
        .icon-svg .primary-fill {
          fill: #eaa846;
        }
        .icon {
          svg {
            .st0 {
              fill: #e1251b !important;
            }
          }
        }
        .events {
          .icon-svg path {
            fill: #eaa846 !important;
          }
        }
        .promotion {
          .icon-svg path {
            fill: #2ac940 !important;
          }
        }
        .private_class {
          .icon-svg path {
            fill: #39f !important;
          }
        }
        .appName {
          color: white;
        }
        .droparrow {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          border-color: white transparent transparent;
        }
      }
      .categoryButton {
        background-color: #c8c8c8;
        border-radius: 5px;
        margin-right: 2px;
        cursor: pointer;
        min-width: 130px;
        text-align: center;
        .appName {
          color: #4d5059;
          font-size: 15px;
          text-transform: uppercase;
          margin-top: 4px;
        }
      }
      .categoryButton.active {
        background-color: #4d5059;
        .appName {
          color: white;
        }
      }
      .recordStockButton {
        width: 160px;
        background-color: #4d5059;
        border-radius: 5px;
        margin: 4px;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
          margin-top: 6px;
          margin-left: 4px;
        }
        .appName {
          color: #2ac940;
          font-size: 17px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }

      .addButton {
        width: 160px;
        background-color: #4d5059;
        border-radius: 5px;
        margin: 4px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
          margin-top: 6px;
          margin-left: 4px;
        }
        .appName {
          color: #2ac940;
          font-size: 17px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }
    .thirdRow {
      margin: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .productInfo.Package {
        background-color: #ece9e9;
      }
      .productInfo {
        width: 259px;
        height: 470px;
        margin-right: 20px;
        position: relative;
        .package {
          height: 80%;
          .info {
            margin: 10px;
            height: 30%;
            overflow: auto;
          }
          .products {
            margin: 10px;
            height: 70%;
            overflow: auto;
          }
        }
        .productImage {
          position: relative;
          padding-bottom: 140%;
          background-color: white;
          background-position: center top;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 1;
          .image {
            width: 100%;
            height: 80%;
          }
        }
        .productDetails {
          height: 20%;
          text-align: center;
          .name {
            font-family: 'AdiHaus DIN Medium';
          }
          .prices {
            .sale {
              .fullPrice {
                color: #999;
                margin-right: 4px;
              }
            }
          }
          .limitedEdition {
            color: #c00;
            text-transform: uppercase;
            font-size: 90%;
          }
        }
        .on-sale-banner {
          position: absolute;
          color: white;
          font-family: 'AdiHaus DIN Regular';
          text-align: center;
          padding: 10px 30px 40px 10px;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 0.1em;
          text-align: center;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 102 102' xml:space='preserve'><polygon points='0 0 102 0 0 102 ' fill='%23C00'/></svg>");
          background-size: 100% 100%;
          background-position: center center;
          .on-sale-banner span {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            display: block;
            position: relative;
            top: 5px;
          }
        }
        .new-banner {
          position: absolute;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 102 102' xml:space='preserve'><polygon points='0 0 102 0 0 102 ' fill='%231061D7'/></svg>");
          color: white;
          background-size: 100% 100%;
          background-position: center center;
          padding: 10px 25px 35px 7px;
          font-weight: bold;
          font-size: 12px;

          .new-banner span {
            display: block;
            position: relative;
            top: 4px;
            -ms-transform: rotate(-43deg);
            -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
          }
        }
        .quick-view {
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
          position: absolute;
          display: block;
          color: white;
          bottom: 0%;
          right: 0%;
          font-size: 24px;
          text-align: center;
          font-family: 'AdiHaus DIN Regular';
          text-transform: uppercase;
          padding: 30px 10px 7px 40px;
          cursor: pointer;
          span {
            position: relative;
            z-index: 2;
          }
        }
        .quick-view:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 1267 266' xml:space='preserve'><polygon points='0 266 1267 266 1267 0 0 266 ' style='fill:%23000'/></svg>");
          background-position: right bottom;
          background-size: 100% 100%;
          opacity: 0.4;
          z-index: 0;
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
        }
      }

      .productEditInfo {
        width: 259px;
        height: 470px;
        margin-right: 20px;
        position: relative;
        background-color: #e3dddd;
        border-radius: 5px;
        .package {
          height: 80%;
          .info {
            margin: 10px;
            height: 30%;
            overflow: auto;
          }
          .products {
            margin: 10px;
            height: 70%;
            overflow: auto;
          }
        }
        .productImage {
          position: relative;
          padding-bottom: 140%;
          background-color: white;
          background-position: center top;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.6;
          .image {
            width: 100%;
            height: 80%;
          }
        }
        .productDetails {
          height: 20%;
          text-align: center;
          .name {
            font-family: 'AdiHaus DIN Medium';
          }
          .prices {
            .sale {
              .fullPrice {
                color: #999;
                margin-right: 4px;
              }
            }
          }
          .limitedEdition {
            color: #c00;
            text-transform: uppercase;
            font-size: 90%;
          }
        }
        .on-sale-banner {
          position: absolute;
          color: white;
          font-family: 'AdiHaus DIN Regular';
          text-align: center;
          padding: 10px 30px 40px 10px;
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 0.1em;
          text-align: center;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 102 102' xml:space='preserve'><polygon points='0 0 102 0 0 102 ' fill='%23C00'/></svg>");
          background-size: 100% 100%;
          background-position: center center;
          .on-sale-banner span {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            display: block;
            position: relative;
            top: 5px;
          }
        }
        .new-banner {
          position: absolute;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 102 102' xml:space='preserve'><polygon points='0 0 102 0 0 102 ' fill='%231061D7'/></svg>");
          color: white;
          background-size: 100% 100%;
          background-position: center center;
          padding: 10px 25px 35px 7px;
          font-weight: bold;
          font-size: 12px;

          .new-banner span {
            display: block;
            position: relative;
            top: 4px;
            -ms-transform: rotate(-43deg);
            -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
          }
        }
        .quick-view {
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
          position: absolute;
          display: block;
          color: white;
          bottom: 0%;
          right: 0%;
          font-size: 24px;
          text-align: center;
          font-family: 'AdiHaus DIN Regular';
          text-transform: uppercase;
          padding: 30px 10px 7px 40px;
          cursor: pointer;
          span {
            position: relative;
            z-index: 2;
          }
        }
        .quick-view:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml,<svg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 1267 266' xml:space='preserve'><polygon points='0 266 1267 266 1267 0 0 266 ' style='fill:white'/></svg>");
          background-position: right bottom;
          background-size: 100% 100%;
          opacity: 0.4;
          z-index: 0;
          -ms-transition: all ease-out 0.25s;
          -webkit-transition: all ease-out 0.25s;
          transition: all ease-out 0.25s;
        }
      }
    }
  }
}
