.inactiveChart {
  width: 100%;
  margin-top: 12px;
}

.reportContent {
  width: 100%;
  .header {
    text-align: center;
    background: $darkgray;
    color: white;
    font-size: 10px;
  }
  .tableData {
    height: 420px;
    margin: 10px;
    width: 99%;
    .filter-value {
      display: none;
      width: 134px;
    }
  }
}

.dateSettings {
  margin-left: auto;
  width: auto;
  flex-direction: column;
  .btn {
    display: inline-flex;
    margin: 4px;
    margin-top: 0px;
  }
  h6 {
    display: inline-flex;
    margin: 0;
  }
}
.grid-cell-expand {
  float: right;
  display: table;
  height: 100%;
}

/*div.grid-cell-expand:before {
   content: " ▶";
}

.grid-cell-collapse {
    float: right;
    display: table;
    height: 100%;
}

div.grid-cell-collapse:before {
   content: " ▼";
}*/

.report-sub-table {
  box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #ddd;
  border: 1px solid #333;
}

.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 0 !important;
  background: $darkgray;
}

btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.table-controls {
  margin-bottom: 10px;
  padding: 10px 5px 0 5px;
  background: #eee;
  font-size: 12px;
}

.table-controls input,
.table-controls select,
.table-controls button,
.table-controls > span {
  margin: 0 5px 10px 5px;
}

.table-controls input,
.table-controls select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 5px;
  border: 1px solid $darkgray;
  background: #fafafa;
  outline: none;
  line-height: 20px;
  font-size: 12px;
}

.table-controls button {
  padding: 2px 5px;
  background: $darkgray;
  color: #fff;
  font-weight: bold;
  border-radius: 0.4rem;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.hide-columns-container {
  width: 600px;
}

.hide-columns__control {
  min-height: 30px !important;
  border: 1px solid $darkgray !important;
  border-radius: 0px !important;
}

.hide-columns__control:hover {
  border-color: $darkgray !important;
  box-shadow: none !important;
}

.hide-columns__control--is-focused {
  box-shadow: none !important;
}

.hide-columns__value-container {
  min-height: 30px !important;
}

.hide-columns__option--is-selected {
  background-color: $darkgray !important;
}

.hide-columns__indicator-separator {
  background-color: $darkgray !important;
}

.hide-columns__indicators {
  border-color: $darkgray !important;
}

.hide-columns__indicator {
  color: $darkgray !important;
}

.hide-columns__multi-value {
  color: $darkgray !important;
  text-color: $darkgray !important;
}

.hide-columns__multi-value__label {
  //color: $darkgray !important;
}

.hide-columns__placeholder {
  top: 50% !important;
}

.hide-columns__group-heading {
  border-bottom: 1px solid !important;
  color: $darkgray !important;
  font: italic bold 12px/30px Georgia, serif !important;
}

.vl {
  border-left: 6px solid grey;
  height: 40px;
  border-width: thin;
}

.tabulator {
  font-size: 12px !important;
}

.includes-container {
  display: none !important;
  width: 300px !important;
  margin-left: 5px;
  margin-bottom: 8px;
}

.includes-container__placeholder {
  width: 300px !important;
}

.includes-container__control {
  width: 300px !important;
  min-height: 30px !important;
  border: 1px solid $darkgray !important;
  border-radius: 0px !important;
}
