.grid-cell-expand {
  float: right;
  display: table;
  height: 100%;
}

/*div.grid-cell-expand:before {
   content: " ▶";
}

.grid-cell-collapse {
    float: right;
    display: table;
    height: 100%;
}

div.grid-cell-collapse:before {
   content: " ▼";
}*/

.report-sub-table {
  box-sizing: border-box;
  padding: 10px 30px 10px 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #ddd;
  border: 1px solid #333;
}

.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 12px;
  line-height: 0.5;
  border-radius: 0 !important;
  background: rgb(153, 27, 30);
}

btn:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.table-controls {
  margin-bottom: 10px;
  padding: 10px 5px 0 5px;
  background: #eee;
  font-size: 12px;
}

.table-controls input,
.table-controls select,
.table-controls button,
.table-controls > span {
  margin: 0 5px 10px 5px;
}

.table-controls input,
.table-controls select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 5px;
  border: 1px solid rgb(153, 27, 30);
  background: #fafafa;
  outline: none;
  line-height: 20px;
  font-size: 12px;
}

.table-controls button {
    padding: 2px 5px;
    border: 1px solid #25682a;
    background: rgb(153, 27, 30);
    background: -webkit-gradient(linear, left top, left bottom, from(#3FB449), to(#25682a));
    background: rgb(153, 27, 30);
    color: #fff;
    font-weight: bold;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.hide-columns-container {
  width: 350px;
}

.hide-columns__control {
  min-height: 30px !important;
  border: 1px solid rgb(153, 27, 30) !important;
  border-radius: 0px !important;
}

.hide-columns__control:hover {
  border-color: rgb(153, 27, 30) !important;
  box-shadow: none !important;
}

.hide-columns__control--is-focused {
  box-shadow: none !important;
}

.hide-columns__value-container {
  min-height: 30px !important;
}

.hide-columns__option--is-selected {
    background-color: rgb(153, 27, 30) !important;
}

.hide-columns__indicator-separator {
  background-color: rgb(153, 27, 30) !important;
}

.hide-columns__indicators {
  border-color: rgb(153, 27, 30) !important;
}

.hide-columns__indicator {
  color: rgb(153, 27, 30) !important;
}

.hide-columns__multi-value {
  color: rgb(153, 27, 30) !important;
  text-color: rgb(153, 27, 30) !important;
}

.hide-columns__multi-value__label {
  //color: rgb(153, 27, 30) !important;
}

.hide-columns__placeholder {
  top: 50% !important;
}

.vl {
  border-left: 6px solid grey;
  height: 40px;
  border-width: thin;
}

.report-btn-default {
  border-radius: 0 !important;
  background: rgb(153, 27, 30) !important;
}

.tabulator {
  font-size: 12px !important;
}
