.scheduleCalendar {
  .rbc-current-time-indicator {
    background-color: unset;
  }
}
.bookingsContent {
  width: 100%;
  .newBookingSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    .line1 {
      display: flex;
      .sessionDate {
        display: flex;
        width: 200px;
        margin-top: 6px;
        label {
          width: 40px;
          margin-top: 7px;
        }
      }
      .time {
        display: flex;
        width: 150px;
        margin-top: 6px;
        label {
          width: 40px;
          margin-top: 7px;
        }
      }
      .class {
        display: flex;
        width: 200px;
        margin-top: 6px;
        label {
          width: 40px;
          margin-top: 7px;
        }
      }
      .membersSelect {
        width: 300px;
      }
      #addClassBooking {
        width: 120px;
        height: 30px;
      }
    }
    .line2 {
      .hide {
        display: none;
      }
      .noUserAccount,
      .bookingAlreadyExists {
        color: red;
        margin-left: 50px;
      }
    }
  }
  .header {
    text-align: center;
    background: $darkgray;
    color: white;
    font-size: 10px;
  }
  .tableSection {
    display: flex;
    .tableData {
      height: 100%;
      margin: 10px;
      a.nameValue {
        margin: 20px;
      }
      .statusCell {
        display: flex;
        p.statusValue {
          margin: 5px;
        }
        button {
          margin-left: 50%;
        }
      }
      .filter-value {
        display: none;
        width: 134px;
      }
      .bookingActions {
        display: flex;
        .statusValue {
          width: 100px;
          margin-top: 7px;
          height: 20px;
          margin-left: 8px;
        }
        #cancelBooking,
        #deleteBooking,
        #cancelEditBooking {
          width: auto;
          height: 22px;
        }
      }
      input[type='search'] {
        -webkit-text-fill-color: #c7c1c1;
        border-color: #c7c1c1;
        border-style: solid;
        border-width: 1px;
      }
      .rt-expander:after {
        border-top: 7px solid white;
      }
    }
    .actionSection {
      width: 20%;
      margin-top: 40px;
      background-color: #eee;
    }
  }
  .formatterCell {
    .bookings {
      .count {
        width: 80%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .rt-expander {
        display: inline-block;
        position: relative;
        margin: 0;
        color: transparent;
        float: left;
        margin-right: 2px;
      }
      .rt-expander.opened:after {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);

        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-left: 5.04px solid transparent;
        border-right: 5.04px solid transparent;
        border-top: 7px solid rgba(0, 0, 0, 0.8);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
      }
      .rt-expander.closed:after {
        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);

        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        border-left: 5.04px solid transparent;
        border-right: 5.04px solid transparent;
        border-top: 7px solid rgba(0, 0, 0, 0.8);
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer;
      }
    }
  }
}

.settings {
  button {
    margin: 6px;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    float: none;
  }
}
@page {
  size: a4;
  margin-top: 0mm;
  margin-left: -5mm;
  margin-right: -10mm;
  margin-bottom: 0mm;
}
#memberBarcodes {
  width: 900px;
  height: auto;
  /*  border-style: solid;
  border-color: red;
  border-size: 1px; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  .barCode {
    display: inline-flex;
    margin-left: 24px;
    margin-right: 24px;
    svg {
      width: 130px;
      height: 95px;
    }
  }
}
.pageBreak,
.pageBreak + .barCode,
.pageBreak + .barCode + .barCode,
.pageBreak + .barCode + .barCode + .barCode,
.pageBreak + .barCode + .barCode + .barCode + .barCode {
  svg {
    margin-top: 21mm;
  }
}
