.sidebarMain {
  top: 153px !important;
  background-color: $darkgray;
  @media (min-width: 544px) {
    top: 128px !important;
  }
}
.sidebar-content {
  z-index: 200 !important;
}
.isSafari {
  .sidebar-content {
    padding-right: 14px;
  }
}
.gbmembers {
  .sidebar {
    border-right: 1px solid $gray3;
    background-color: $darkgray;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  min-height: $page-height;
  padding: 1.5rem 0;
  width: 252px;
  height: unset;
  .buttons {
    display: flex;
    .btn-primary {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  .ReactTable input {
    border-radius: 0.4rem !important;
  }
  .ReactTable .rt-tbody {
    background-color: white;
    border-radius: 0.4rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  a.Inactive {
    font-style: italic;
    color: #1818a8 !important;
  }
  a.Suspended {
    font-style: italic;
    color: #c56868 !important;
  }
  h6 {
    color: $blue0;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    margin: 0.75rem 0 0 0;
    text-transform: uppercase;
    .btn {
      .icon-svg {
        height: 0.75rem;
        widows: 0.75rem;
      }
    }
  }

  .btn {
    font-size: 0.875rem;
    margin: 0 auto;
    &.btn-primary {
      background-color: $button;
      color: $gray3;
      border: none;
      margin: 0 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
      &:hover {
        color: $white;
        background-color: darken($button, 25%);
      }
    }
  }

  .nav-link {
    color: $gray;
    cursor: pointer;
  }
  .membersList {
    width: 80%;
    margin-left: 10%;
  }

  .filter-nav {
    .nav-link {
      border-left: 3px solid white;
      margin: 0 0 0.75rem 0;
      font-size: 0.875rem;
      padding: 0.25rem 1.5rem;
      transition: border-left-color 0.5s, color 0.5s;
      .icon {
        display: flex;
        width: 2rem;
      }
      &.active,
      &:hover {
        border-left-color: $blue1;
        color: $blue1;
        .icon-svg,
        path {
          fill: $blue1;
        }
      }
    }
  }

  .bottom-nav {
    .nav-link {
      border-bottom: 1px solid $gray3;
      font-size: 0.875rem;
      padding: 0.625rem 0.75rem 0.5625rem;
      margin: 0 0.75rem;
      text-transform: uppercase;
    }
  }
  .ReactTable .rt-noData {
    display: none;
  }
  select {
    display: inline-block;
    padding: 5px 30px 5px 25px;
    cursor: pointer;
    color: #7b7b7b;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #e6e6e6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 35px;
    border-radius: 0.4rem;
  }
  .droparrow {
    position: relative;
    top: -22px;
    right: -19px;
    width: 0 !important;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0;
    border-style: solid;
    border-color: #7b7b7b transparent transparent;
  }
}
