.sidebarMain {
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    background-color: $button;
    border-color: $button;
    color: $darkgray;
  }
  .rightButtons {
    .btn-primary:not(:disabled):not(.disabled).active {
      background-color: $darkgray;
      border-color: $darkgray;
      color: white;
    }
  }
  .btn-primary:hover {
    color: $white !important;
    background-color: darken($button, 25%) !important;
  }
  top: 116px !important;
  background-color: $darkgray;
  @media (min-width: 1630px) {
    top: 128px !important;
  }
  /*  @media (min-width: 598px) {
    top: 116px !important;
  }
  @media (min-width: 810px) {
    top: 176px !important;
  }
  @media (min-width: 1024px) {
    top: 206px !important;
  }
  @media (min-width: 1585px) {
    top: 128px !important;
  }*/
}
.isKiosk .sidebarMain {
  top: 128px !important;
}

.sidebar-content {
  z-index: 200 !important;
}
.isSafari {
  .sidebar-content {
    padding-right: 14px;
  }
}
.sidebar.members {
  border-right: 1px solid $gray3;
  background-color: $darkgray;
  .icon-svg path,
  .icon-svg .primary-fill {
    fill: white;
  }
  .cancelling .icon-svg path {
    fill: rgb(229, 196, 196) !important;
  }
  .freezing .icon-svg path {
    fill: rgb(96, 96, 237) !important;
  }
  .ReactTable .rt-thead .rt-th.-sort-asc,
  .ReactTable .rt-thead .rt-td.-sort-as {
    box-shadow: none !important;
  }
}
.sidebar.leads {
  border-right: 1px solid #bdbdbd;
  background-color: #bdbdbd;
  .ReactTable .rt-thead .rt-th,
  .ReactTable .rt-thead .rt-td {
    background-color: #bdbdbd;
    border: unset;
  }
  .btn.btn-primary {
    background-color: #4d5059;
    color: white;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  min-height: $page-height;
  padding: 1.5rem 0;
  width: 252px;
  height: unset;
  .options .download-svg.icon-svg {
    height: 2rem;
    width: 2rem;
  }
  .download.icon {
    margin-left: 10px;
    cursor: pointer;
  }
  .buttons {
    display: flex;
    .btn-primary {
      margin-left: auto !important;
      margin-right: auto !important;
      font-size: 15px;
      padding-bottom: 0 !important;
    }
  }
  .ReactTable {
    .-pagination * {
      font-size: 8pt;
      color: white;
    }
    .-pageJump input {
      width: 40px !important;
      color: gray;
    }
    .select-wrap select {
      color: gray;
    }
    .-btn {
      color: white !important;
    }

    .longName {
      font-size: 0.8vmax;
      font-size: 14px;
    }
    .extraLongName {
      font-size: 0.6vmax;
      font-size: 12px;
    }
  }
  .ReactTable input {
    border-radius: 0.4rem !important;
    -webkit-text-fill-color: unset;
  }
  .ReactTable .rt-tbody {
    background-color: white;
    border-radius: 0.4rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .rt-tfoot {
    color: white;
  }
  a.Inactive {
    font-style: italic;
    color: #c56868 !important;
  }
  a.Suspended,
  a.Frozen {
    font-style: italic;
    color: #1818a8 !important;
  }
  h6 {
    color: $blue0;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
    margin: 0.75rem 0 0 0;
    text-transform: uppercase;
    .btn {
      .icon-svg {
        height: 0.75rem;
        widows: 0.75rem;
      }
    }
  }

  .btn {
    font-size: 0.875rem;
    margin: 0 auto;
    &.btn-primary {
      background-color: $button;
      color: $gray3;
      border: none;
      margin: 0 1.5rem;
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
      &:hover {
        color: $white;
        background-color: darken($button, 25%);
      }
    }
  }
  .rt-tr.selected-row.selected-row {
    background-color: #bdbdbd !important;
  }
  .nav-link {
    color: $gray;
    cursor: pointer;
  }
  .membersList {
    width: 80%;
    margin-left: 10%;
  }

  .filter-nav {
    .nav-link {
      border-left: 3px solid white;
      margin: 0 0 0.75rem 0;
      font-size: 0.875rem;
      padding: 0.25rem 1.5rem;
      transition: border-left-color 0.5s, color 0.5s;
      .icon {
        display: flex;
        width: 2rem;
      }
      &.active,
      &:hover {
        border-left-color: $blue1;
        color: $blue1;
        .icon-svg,
        path {
          fill: $blue1;
        }
      }
    }
  }

  .bottom-nav {
    .nav-link {
      border-bottom: 1px solid $gray3;
      font-size: 0.875rem;
      padding: 0.625rem 0.75rem 0.5625rem;
      margin: 0 0.75rem;
      text-transform: uppercase;
    }
  }
  .ReactTable .rt-noData {
    display: none;
  }
  select {
    display: inline-block;
    padding: 5px 30px 5px 25px;
    cursor: pointer;
    color: #7b7b7b;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #e6e6e6;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 35px;
    border-radius: 0.4rem;
  }
  .droparrow {
    position: relative;
    top: -22px;
    right: -19px;
    width: 0 !important;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0;
    border-style: solid;
    border-color: #7b7b7b transparent transparent;
  }
}
