// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//   Modular Scale
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// Temporary stuff that the developers are unsure of where to place in the sass structure

// Basehold.it
// body{position: static !important;}

// Temporary fix for <pre> overflow in flexbox
html,
body,
div,
span,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
main,
nav,
ins {
  min-width: 0;
}

.sms-templates-container {
  width: 300px;
  .hide-columns__control {
    border-radius: 5px !important;
    border-color: #ced4da !important;
  }
}
.new_campaign {
  .sms-templates-container {
    .hide-columns__control {
      left: 138px;
      top: 2px;
    }
  }
}
.card--timeline a {
  color: #0056b3;
}

/// Accessibility
// You forgot the 'alt' attribute
.ql-editor {
  img[alt=''],
  img:not([alt]) {
    border: 5px dashed #c00;
  }
}
#previewDiv img {
  border: unset;
}
input,
textarea {
  font-size: initial;
  -webkit-text-fill-color: #000;
  -webkit-transform: translateZ(0px);
}

.embedded-core-form {
  .photoImg {
    width: 300px;
    height: 300px;
    border: unset;
  }

  .htmlData {
    background-color: #e9e8e8;
    padding: 20px;
    margin-bottom: 20px;
  }
}
#email_editor p {
  margin: unset;
}

.rt-th.rt-resizable-header.-sort-asc.-cursor-pointer {
  box-shadow: inset -2px -3px 3px 0px #d4caca !important;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  color: white;
  background-color: #4d5059;
  border: none;
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 0px;
  border-radius: 0.4rem;
  margin-right: 2px;
}
div#email_editor a {
  color: #0000ee;
  text-decoration: underline;
}
body a {
  text-decoration: inherit;
  color: inherit;
}

.copyTags {
  display: flex;
  margin: 4px;
  .copyItem {
    margin-right: 10px;
    display: flex;
    i.fa.fa-clipboard {
      padding: 4px;
      cursor: pointer;
    }
  }
}
.sidebarMain {
  a.cursorPointer:hover {
    cursor: pointer;
  }
}
.input-group {
  z-index: 0;
}

.radioGroup label {
  cursor: pointer;
}

.tablePrint.icon-svg,
.tableDownload.icon-svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
input.searchInput {
  -webkit-text-fill-color: unset;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: inherit;
  border-radius: 3px;
  font-weight: 400;
  outline-width: 0;
  width: 206px;
}
.leadsSidebar .rt-table {
  overflow-x: hidden !important;
}
.membersSidebar .rt-table {
  overflow-x: hidden !important;
}
.smsDialog a.narcissus_x3xwbs,
.call-scripts-modal a.narcissus_x3xwbs {
  left: 6px;
  top: 6px;
  z-index: 1000;
}
