/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Authentication ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.login-section {
  .login-image-container {
    background-repeat: no-repeat;
    background-position-x: 43px;
    background-size: 65%;
    width: 200px;
    height: 145px;
    margin: auto;
    @media all and (min-width: 510px) {
      background-position-x: 30px;
    }
    .kinops-text {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;

      img {
        height: 40px;
        width: 110px;
        display: none;
      }

      h3 {
        color: #54698d;
        font-size: 24px;
        font-weight: 600;
        line-height: 48px;
      }

      p {
        color: #54698d;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .login-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 344px;
    background-color: #4d5059;
    border-radius: 8px;
    @media all and (min-width: 510px) {
      width: 400px;
    }
  }
  .login-wrapper {
    display: flex;
    height: unset;
    @media all and (min-width: 0) {
      flex-direction: column;
      min-width: 90%;
      .login-image-container {
        order: 1;
      }
      .login-form-container {
        order: 2;
      }
    }
    @media all and (min-width: 510px) {
      height: unset;
    }
    @media all and (min-width: 768px) {
      flex-direction: row;
      min-width: 85%;
      .login-image-container {
        order: 2;
      }
      .login-form-container {
        order: 1;
      }
    }
    @media all and (min-width: 992px) {
      flex-direction: column;
    }

    .login-form-container {
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      background-color: inherit;
      h3 {
        justify-content: center;
        display: flex;
        align-items: baseline;
        color: white;
        font-size: 34px;
        small {
          font-size: 65%;
        }
      }
      .btn,
      .btn[disabled] {
        padding: 0.5rem 0.75rem;
        background-color: $gray2;
        color: white;
        margin-bottom: 4px;
      }
      hr {
        background-color: $black-16;
        margin: 1rem 0 0.5rem 0;
        border: 0;
        height: 1px;
      }
      .submitted {
        .subtitle {
          color: $black;
        }
        .explaination {
          color: $black;
          font-size: 13px;
          line-height: 18px;
        }
      }

      h3.form-title {
        color: white;
        font-size: 24px;
        line-height: 48px;
      }

      .name-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > .form-group:nth-child(1) {
          width: 35%;
        }

        & > .form-group:nth-child(2) {
          width: 55%;
        }
      }

      .form-group {
        label {
          color: white;
          font-size: 12px;
          line-height: 24px;

          &.required:after {
            content: '*';
            color: $red;
          }
        }
        p.form-control-static {
          color: white;
          font-size: 13px;
          line-height: 18px;
        }
        input.form-control {
          height: 30px;
          border: 1px solid #d5d5d5;
          border-radius: 0.25rem;
          color: #343434;
          font-size: 13px;
          line-height: 18px;

          &::placeholder {
            opacity: 1;
            color: #a8b7c7;
          }
        }
      }

      .button-group {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.modal .login-form-container {
  padding: 0;
  .modal-body {
    padding: 1.5rem;
  }
}
