/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Layout ~ kinops
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body {
  font-family: $font-family-sans-serif;
  background-color: $black-3;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.modal-open .main-container {
  -ms-overflow-y: visible !important;
}
