/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Home ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar .gbmembers .nav-item a.nav-link {
  padding: 0 !important;
}

.services.nav-header {
  .drawer-button .fa {
    padding-top: 0;
    font-size: 34px;
    @media (min-width: 431px) {
      font-size: 46px;
      padding-top: 20px;
    }
  }
  .nav-link {
    padding-top: 12px !important;
    padding-right: 10px !important;
    @media all and (min-width: 400px) {
      padding: 0 !important;
    }
  }
  .headerLabel {
    font-size: 12px;
    color: #4d5059;
    margin-left: 0;
    margin-top: 20px;
    text-transform: uppercase;
    @media all and (min-width: 400px) {
      margin-left: 20px;
      margin-top: 13px;
      font-size: 36px;
    }
  }
}
.sidebar-container.drawer {
  overflow: hidden !important;
  .services-sidebar {
    width: 350px !important;
    background-color: #4d5059;
    border-radius: 10px;
    margin: 10px;
    height: auto;
    font-family: 'AdiHaus DIN Regular';
    .sidebar-group--settings {
      max-width: unset;
    }
    .page-title {
      color: white;
      .page-title__wrapper {
        display: flex;
        h1 {
          margin-top: 0;
          margin-bottom: 0;
          color: white;
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 3rem;
          text-transform: uppercase;
        }
        a {
          margin-bottom: 0;
          margin-left: 30px;
          margin-top: 26px;
        }
      }
    }
    hr {
      color: #d3cdcd;
      margin: 20px;
    }
    .search-box {
      margin-left: 20px !important;
      margin-right: 20px !important;
      .fa {
        font-size: 24px;
        position: absolute;
        left: 300px;
      }
      button {
        width: 3rem;
      }
      input[type='text'] {
        padding: 9px !important;
        font-size: 24px !important;
      }
    }
    .page-panel--my-requests {
      //height: calc(100vh - 86px);
    }
    .cards__wrapper.cards__wrapper--requests {
      background-color: white;
      overflow-y: auto;
      height: calc(58vh - 45px);
      @media all and (min-height: 667px) {
        height: calc(62vh - 45px);
      }
      @media all and (min-height: 700px) {
        height: calc(67vh - 45px);
      }
      @media all and (min-height: 767px) {
        height: calc(71vh - 45px);
      }
      @media all and (min-height: 867px) {
        height: calc(74vh - 45px);
      }
      @media all and (min-height: 967px) {
        height: calc(76vh - 45px);
      }
      a.card.card--request {
        border: 0;
        margin: 0;
        padding-bottom: 0;
        .meta dl.col {
          padding-left: 0;
        }
        .status {
          margin-left: 5px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .item {
          display: inline-flex;
          .label {
            height: 30px;
            font-family: AdiHaus DIN Bold;
            font-weight: 800;
          }
          .value {
            height: 30px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// Search container
.search-services-home {
  width: 100%;
  // height: 216px;
  padding: 0 0 2.25rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: $blue-slate;
  .search-box__form {
    border: 0;
  }
  &--green-grass {
    background-color: $green-grass;
  }
  &__wrapper {
    h1 {
      color: $white;
      font-size: 2.583333333rem;
      font-weight: 300;
      line-height: 3.75rem;
      margin-top: 1.5rem;
      @media all and (max-width: 768px) {
        max-width: 210px;
      }
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    @media all and (min-width: 0) {
      flex-basis: 90%;
    }
    @media all and (min-width: 576px) {
      flex-basis: 75%;
    }
    @media all and (min-width: 768px) {
      flex-basis: 66.667%;
    }
    @media all and (min-width: 992px) {
      flex-basis: 48%;
    }
    @media all and (min-width: 1200px) {
    }
  }
}

.page-container {
  // Services Home Container
  &--services-home {
    display: flex;
    @media all and (min-width: 0) {
      flex-direction: column;
    }
    @media all and (min-width: 576px) {
      flex-direction: column;
    }
    @media all and (min-width: 768px) {
      flex-direction: column;
    }
    @media all and (min-width: 992px) {
      flex-direction: row;
    }
    @media all and (min-width: 1200px) {
    }
  }
}

// Home panels
.page-panel {
  // My Requests Wrapper
  &--my-requests,
  &--services {
    flex-direction: column;
    .card {
      flex: 0 0 auto;
      @media all and (min-width: 0) {
        flex-basis: 100%;
        @media all and (-ms-high-contrast: none) {
          width: 100%;
          flex-basis: auto;
        }
      }
      @media all and (min-width: 576px) {
      }
      @media all and (min-width: 768px) {
      }
      @media all and (min-width: 992px) {
      }
      @media all and (min-width: 1200px) {
      }
    }
  }

  // Services Wrapper
  &--services {
    .card {
      @media all and (min-width: 576px) {
        flex-basis: 48%;
        @media all and (-ms-high-contrast: none) {
          width: 48%;
          flex-basis: auto;
        }
      }
    }
  }
}
