/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Home ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.main-container {
  overflow-y: scroll;
  position: relative !important;
  max-height: calc(100vh - 70px);
  .package-layout {
    min-height: calc(100vh - 82px);
  }
  .page-container.page-container--services-form {
    margin: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    @media all and (min-width: 400px) {
      margin: 10px;
      padding-left: inherit;
      padding-right: inherit;
      width: calc(100% - 20px);
    }
    padding-bottom: 20px;
    .page-title h1,
    .page-title h3,
    .page-title h3 a {
      color: white;
    }
    .form-description {
      color: white;
    }
    .embedded-core-form--wrapper {
      background-color: white;
      padding: 10px;
    }
  }
  .embedded-core-form--wrapper
    form
    button[data-element-type='button'][data-button-type='submit-page'] {
    background-color: #4d5059;
  }
  .page-container.page-container--submission {
    .submission-title h1,
    .submission-title p {
      color: white;
    }
    .nav-tabs li a {
      color: white;
    }
    .nav-tabs > li a.active {
      border-bottom: 2px solid #dddad7;
    }
    .icon.barcodePrint {
      position: relative;
      z-index: 100;
      top: 5px;
      float: right;
      right: 5%;
      cursor: pointer;
    }
    .icon.icon-svg.barcodePrint {
      height: 2rem;
      width: 2rem;
    }
  }
}
.main-container.open {
  margin-right: 370px;
}
.main-container.closed {
  margin-right: 0;
}
main.package-layout.package-layout--services {
  margin-right: 0;
  @media all and (min-width: 400px) {
    margin-right: 20px;
  }
  background-color: #4d5059;
  border-radius: 10px;
  margin-top: 10px;
  height: 100%;
  span.services-color-bar.services-color-bar__blue-slate {
    display: none;
  }
  .nav-return {
    color: white;
  }
  .page-container.page-container--request-list {
    h3,
    h3 a {
      color: white;
    }
    .page-title h1 {
      color: white;
    }
  }
  .page-container.page-container--services-category {
    max-width: unset;
    overflow: hidden;
    background-color: #4d5059;
    border-radius: 10px;
    margin-top: 10px;
    min-height: calc(100vh - 96px);
    h3,
    h3 a {
      color: white;
    }
    .page-title h1 {
      color: white;
    }
    .cards__wrapper.cards__wrapper--categories {
      a.card.card--category {
        border-color: #bdbdbd;
        background-color: #bdbdbd;
      }
      .card--category .icon-svg {
        height: 2rem;
        width: 2rem;
        margin-right: 15px;
      }
    }
    .cards__wrapper.cards__wrapper--services {
      a.card.card--service {
        border-color: #bdbdbd;
        background-color: #bdbdbd;
      }
    }
  }
  .cards__wrapper.cards__wrapper--requests {
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .item {
        display: inline-flex;
        .label {
          height: 30px;
          font-family: AdiHaus DIN Bold;
          font-weight: 800;
        }
        .value {
          height: 30px;
          margin-left: 10px;
        }
      }
    }
  }
}
.page-container.page-container--services-home {
  margin-left: 0;
  max-width: unset;
  overflow: hidden;
  padding-left: 0;
  background-color: inherit;
  h3.text-lowercase {
    color: white;
  }
  .page-title h1 {
    color: white;
  }
  .card--category .icon-svg {
    height: 2rem;
    width: 2rem;
    margin-right: 15px;
  }
  a.card.card--category {
    border-color: #bdbdbd;
    background-color: #bdbdbd;
  }
}
.page-panel {
  /*  height: 0px; */
}
.page-panel.page-panel--transparent.page-panel--two-thirds.page-panel--services {
  border-right: 0;
  background-color: #4d5059;
  border-radius: 10px;
  min-height: calc(100vh - 96px);
}
.navbar .gbmembers .nav-item a.nav-link {
  padding: 0 !important;
}

.services.nav-header {
  .drawer-button .fa {
    padding-top: 0;
    font-size: 34px;
    @media (min-width: 431px) {
      font-size: 46px;
      padding-top: 20px;
    }
  }
  .nav-link {
    padding-top: 12px !important;
    padding-right: 10px !important;
    @media all and (min-width: 400px) {
      padding: 0 !important;
    }
  }
  .headerLabel {
    font-size: 12px;
    color: #4d5059;
    margin-left: 0;
    margin-top: 20px;
    text-transform: uppercase;
    display: none;
    @media all and (min-width: 321px) {
      display: block;
      margin-left: 0;
      margin-top: 20px;
      font-size: 12px;
    }
    @media all and (min-width: 420px) {
      display: block;
      margin-left: 20px;
      margin-top: 13px;
      font-size: 36px;
    }
  }
}
.sidebar-container.drawer {
  overflow: hidden !important;
  margin-top: 8px;
  .services-sidebar {
    width: 350px !important;
    background-color: #4d5059;
    border-radius: 10px;
    margin: 10px;
    height: auto;
    font-family: 'AdiHaus DIN Regular';
    .sidebar-group--settings {
      max-width: unset;
    }
    .page-title {
      color: white;
      .page-title__wrapper {
        display: flex;
        h1 {
          margin-top: 0;
          margin-bottom: 0;
          color: white;
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 3rem;
          text-transform: uppercase;
        }
        a {
          margin-bottom: 0;
          margin-left: 30px;
          margin-top: 26px;
        }
      }
    }
    hr {
      color: #d3cdcd;
      margin: 20px;
    }
    .search-box {
      margin-left: 20px !important;
      margin-right: 20px !important;
      .fa {
        font-size: 24px;
        position: absolute;
        left: 300px;
        color: #d4d4d4;
      }
      button {
        width: 3rem;
      }
      input[type='text'] {
        padding: 9px !important;
        font-size: 24px !important;
        -webkit-text-fill-color: unset;
      }
    }
    .page-panel--my-requests {
      //height: calc(100vh - 86px);
    }
    .cards__wrapper.cards__wrapper--requests {
      background-color: white;
      overflow-y: auto;
      height: calc(58vh - 45px);
      @media all and (min-height: 667px) {
        height: calc(62vh - 45px);
      }
      @media all and (min-height: 700px) {
        height: calc(67vh - 45px);
      }
      @media all and (min-height: 767px) {
        height: calc(71vh - 45px);
      }
      @media all and (min-height: 867px) {
        height: calc(74vh - 45px);
      }
      @media all and (min-height: 967px) {
        height: calc(76vh - 45px);
      }
      a.card.card--request {
        border: 0;
        margin: 0;
        padding-bottom: 0;
        .meta dl.col {
          padding-left: 0;
        }
        .status {
          margin-left: 5px;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .item {
          display: inline-flex;
          .label {
            height: 30px;
            font-family: AdiHaus DIN Bold;
            font-weight: 800;
          }
          .value {
            height: 30px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// Search container
.search-services-home {
  width: 100%;
  // height: 216px;
  padding: 0 0 2.25rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 0 0 auto;
  background-color: $blue-slate;
  .search-box__form {
    border: 0;
  }
  &--green-grass {
    background-color: $green-grass;
  }
  &__wrapper {
    h1 {
      color: $white;
      font-size: 2.583333333rem;
      font-weight: 300;
      line-height: 3.75rem;
      margin-top: 1.5rem;
      @media all and (max-width: 768px) {
        max-width: 210px;
      }
    }
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    @media all and (min-width: 0) {
      flex-basis: 90%;
    }
    @media all and (min-width: 576px) {
      flex-basis: 75%;
    }
    @media all and (min-width: 768px) {
      flex-basis: 66.667%;
    }
    @media all and (min-width: 992px) {
      flex-basis: 48%;
    }
    @media all and (min-width: 1200px) {
    }
  }
}

.page-container {
  // Services Home Container
  &--services-home {
    display: flex;
    @media all and (min-width: 0) {
      flex-direction: column;
    }
    @media all and (min-width: 576px) {
      flex-direction: column;
    }
    @media all and (min-width: 768px) {
      flex-direction: column;
    }
    @media all and (min-width: 992px) {
      flex-direction: row;
    }
    @media all and (min-width: 1200px) {
    }
  }
}

// Home panels
.page-panel {
  // My Requests Wrapper
  &--my-requests,
  &--services {
    flex-direction: column;
    .card {
      flex: 0 0 auto;
      @media all and (min-width: 0) {
        flex-basis: 100%;
        @media all and (-ms-high-contrast: none) {
          width: 100%;
          flex-basis: auto;
        }
      }
      @media all and (min-width: 576px) {
      }
      @media all and (min-width: 768px) {
      }
      @media all and (min-width: 992px) {
      }
      @media all and (min-width: 1200px) {
      }
    }
  }

  // Services Wrapper
  &--services {
    .card {
      @media all and (min-width: 576px) {
        flex-basis: 48%;
        @media all and (-ms-high-contrast: none) {
          width: 48%;
          flex-basis: auto;
        }
      }
    }
  }
}
