/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Variables Overrides ~ Services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
// Colors
// --------------------------------------
$button: #f2f2f2;
$primary: #313e47;
$primary-complement: #ffffff;
$secondary: #6f7e82;
$secondary-complement: #ffffff;
$tertiary: #1594c4;
$tertiary-complement: #ffffff;
$lightestgray: #f1f1f1;
$lightgray: #d5d6d7;
$gray: #7e8083;
$darkgray: #4d5059;
$darkestgray: #333333;
$black: #222222;
$white: #ffffff;

$text-color: $gray !default; // Global text color on `<body>`.
$link-color: $tertiary !default; // Global textual link color.
